html.fancybox-lock
	//overflow: hidden !important
	//margin-right: 0 !important
	body
		height: auto !important
.fancybox-lock .fancybox-overlay
	//overflow: auto !important
	//overflow-y: auto !important
.fancybox-inner
	height: auto !important
.fancybox-opened .fancybox-skin
	padding: 0 !important
.fancybox-outer
	border-radius: 4px !important
	overflow: hidden !important
.fancybox-close
	display: none
.fancy-close
	top: 9px
	right: 9px
	position: absolute
	width: 22px
	height: 22px
	cursor: pointer
	z-index: 8888
	svg
		position: absolute
		top: 0px
		left: 0px
		width: 22px
		height: 22px
		polygon
			transition: all .3s ease-in-out
			fill: #DADADA
	&:hover
		svg
			polygon
				fill: #434343
.fancybox-error
	padding-top: 60px !important


.popup-content
	width: 100%
	box-sizing: border-box
	background: $white
	max-width: 700px

	//Review form
	.review
		padding-top: 20px
		&__title
			font-size: 18px
			line-height: 20px
			font-family: $arimo-B
			color: $text-color
			padding: 0 20px
			margin-bottom: 10px
		&__descr
			font-size: 12px
			color: $text-color-light
			line-height: 14px
			padding: 0 20px
			border-bottom: 1px solid #e1e1e1
			padding-bottom: 20px
		.doctor
			background: $white
			border-radius: 5px
			box-sizing: border-box
			padding-top: 20px
			display: table
			width: 100%
			border-bottom: 1px solid #e1e1e1
			padding-bottom: 7px
			.avatar
				float: left
				margin-right: 20px
				position: relative
				padding-left: 20px
				&__img
					width: 60px
					height: 60px
					display: table
					border-radius: 50%
				&__rating
					display: none
			.info
				float: left
				width: 580px
				color: $text-color-light
				font-size: 12px
				padding-bottom: 17px
				padding-right: 20px
				.col-5
					margin: 0
					width: 45%
				.col-7
					margin: 0
				&__name
					font-size: 18px
					color: $text-color
					line-height: 20px
					span
				&__specialty
					line-height: 14px
					padding: 10px 0 11px 0
				&__reviews
					float: left
					margin-right: 21px
					strong
						color: $text-color
						font-family: $arimo-B
				&__reception
					strong
						font-family: $arimo-B
						color: $text-color
					del
				&__reception--discount
					strong
						color: #ff5353
					del
						margin-right: 1px
						color: $text-color
				.experience
					margin-top: 1px
					float: right
					margin-right: 18px
					&__caption
						font-size: 11px
					&__num
						font-family: $arimo-B
						font-size: 26px
						line-height: 30px
						margin-top: 9px
				.rating
					float: right
					margin-top: 1px
					margin-right: 0
					&__caption
						font-size: 11px
					&__num
						font-family: $arimo-B
						font-size: 30px
						line-height: 30px
						color: #d42131
						margin-top: 9px
				.descr
					clear: both
					padding-top: 43px
					line-height: 20px
					&__more
						color: #334fb4
						font-size: 12px
						display: table
						margin-top: 6px
				.info__experience--mobi, .info__reviews--mobi
					display: none
		.stars
			.qualification, .attention, .price, .clinic
				float: left
				margin-left: 20px
				margin-top: 20px
				margin-bottom: 16px
				&__caption
					font-size: 11px
					line-height: 12px
					padding-bottom: 5px
				fieldset
					padding-left: 1px
			.attention
				margin-left: 37px
			.price
				margin-left: 38px
			.clinic
				margin-left: 38px
		.recommendation
			float: left
			margin-left: 36px
			margin-top: 20px
			margin-bottom: 16px
			&__title
				font-size: 11px
				line-height: 12px
				padding-bottom: 12px
			input[type="radio"]
				display: none
			label[for="yes"]
				color: #348b0e
				font-size: 13px
				line-height: 16px
				cursor: pointer
				&:before
					content: ''
					display: inline-block
					vertical-align: middle
					width: 16px
					height: 16px
					border-radius: 10px
					box-sizing: border-box
					border: 2px solid #348b0e
					margin-right: 5px
					margin-top: -6px
			label[for="no"]
				color: #ff5353
				font-size: 13px
				line-height: 16px
				cursor: pointer
				&:before
					content: ''
					display: inline-block
					vertical-align: middle
					width: 16px
					height: 16px
					border-radius: 10px
					box-sizing: border-box
					border: 2px solid #ff5353
					margin-right: 5px
					margin-top: -6px
					margin-left: 17px
			input:checked + label[for="yes"]
				&:before
					content: ''
					display: inline-block
					vertical-align: middle
					width: 16px
					height: 16px
					border-radius: 10px
					box-sizing: border-box
					border: 2px solid #348b0e
					background: #348b0e
					margin-right: 5px
					margin-top: -6px
			input:checked + label[for="no"]
				&:before
					content: ''
					display: inline-block
					vertical-align: middle
					width: 16px
					height: 16px
					border-radius: 10px
					box-sizing: border-box
					border: 2px solid #ff5353
					background: #ff5353
					margin-right: 5px
					margin-top: -6px
					margin-left: 17px
			.toggle-status
				display: none
		.form
			display: table
			width: 100%
			.text-inputs
				padding: 20px
				box-sizing: border-box
				display: table
				width: 100%
				border-bottom: 1px solid #e1e1e1
				border-top: 1px solid #e1e1e1
				textarea
					display: block
					width: 100%
					outline: none
					box-sizing: border-box
					resize: none
					height: 100px
					border-radius: 4px
					background-color: #f5f7fc
					border: solid 1px #e1e1e1
					padding: 10px
					font-size: 12px
					line-height: 1.5
					font-family: $arimo-R
					color: $text-color-light
					margin-bottom: 20px
				input[type="text"], input[type="tel"]
					display: block
					float: left
					width: 48.5%
					outline: none
					box-sizing: border-box
					height: 40px
					line-height: 40px
					padding: 0 9px
					border-radius: 4px
					background-color: #f5f7fc
					border: solid 1px #e1e1e1
					font-size: 12px
					font-family: $arimo-R
					color: $text-color-light
				input[type="tel"]
					margin-left: 3%
				&__message
					color: $text-color-light
					font-size: 11px
					line-height: 12px
					padding-top: 10px
					display: table
					width: 100%

				input:active, input:focus, textarea:active, textarea:focus
					border: 1px solid #334fb4 !important
					outline: none !important
				input[type="email"]:invalid
					border: 1px solid #ff5353 !important
					color: #334fb4 !important
			&__clear
				display: block
				float: right
				box-sizing: border-box
				text-align: center
				width: 160px
				height: 30px
				line-height: 30px
				border-radius: 30px
				background-color: $white
				font-size: 12px
				letter-spacing: 1px
				color: $text-color-light
				font-family: $arimo-B
				text-transform: uppercase
				margin: 20px
				margin-right: 10px
				outline: none
			input[type="submit"]
				border: 0
				outline: 0
				float: right
				display: block
				box-sizing: border-box
				color: #fff;
				width: 160px
				height: 30px
				border-radius: 30px
				line-height: 32px
				font-size: 12px
				letter-spacing: 1px
				font-family: $arimo-B
				text-align: center
				text-transform: uppercase
				margin-right: 20px
				margin-top: 20px
				margin-bottom: 20px
				padding: 0
				cursor: pointer

	//Appointment form (doctor)
	.appointment
		padding-top: 10px
		&__title
			font-size: 18px
			line-height: 20px
			font-family: $arimo-B
			color: $text-color
			padding: 0 20px
			margin-bottom: 10px
		&__descr
			font-size: 12px
			color: $text-color-light
			line-height: 14px
			padding: 0 20px
			border-bottom: 1px solid #e1e1e1
			padding-bottom: 20px
		.doctor
			background: $white
			border-radius: 5px
			box-sizing: border-box
			padding-top: 20px
			display: table
			width: 100%
			padding-bottom: 7px
			.avatar
				float: left
				margin-right: 20px
				position: relative
				padding-left: 20px
				&__img
					width: 60px
					height: 60px
					display: table
					border-radius: 50%
				.avatar__rating
					display: none
			.info
				float: left
				width: 580px
				color: $text-color-light
				font-size: 12px
				padding-bottom: 17px
				padding-right: 20px
				.col-5
					margin: 0
					width: 45%
				.col-7
					margin: 0
				&__name
					font-size: 18px
					color: $text-color
					line-height: 20px
					span
				&__specialty
					line-height: 14px
					padding: 10px 0 11px 0
				&__experience--mobi, &__reviews--mobi
					display: none
				&__reviews
					float: left
					margin-right: 21px
					strong
						color: $text-color
						font-family: $arimo-B
				&__reception
					strong
						font-family: $arimo-B
						color: $text-color
					del
				&__reception--discount
					strong
						color: #ff5353
					del
						margin-right: 1px
						color: $text-color
				.experience
					margin-top: 1px
					float: right
					margin-right: 18px
					&__caption
						font-size: 11px
					&__num
						font-family: $arimo-B
						font-size: 26px
						line-height: 30px
						margin-top: 9px
				.rating
					float: right
					margin-top: 1px
					margin-right: 30px
					&__caption
						font-size: 11px
					&__num
						font-family: $arimo-B
						font-size: 30px
						line-height: 30px
						color: #d42131
						margin-top: 9px



		.form
			display: table
			width: 100%
			//part 1
			.tabs
				padding-top: 3px
				margin-bottom: 10px
				&__title
					font-size: 11px
					line-height: 12px
					color: $text-color-light
					margin-left: 100px
					margin-bottom: -16px
				&__caption
					display: table
					box-sizing: border-box
					width: 100%
					border-bottom: 1px solid #e1e1e1
					padding-left: 183px
					label
						float: left
						cursor: pointer
						border: 1px solid #e1e1e1
						border-top-left-radius: 5px
						border-top-right-radius: 5px
						height: 20px
						width: 20px
						display: block
						line-height: 20px
						text-align: center
						margin-left: -1px
						margin-bottom: -1px
						font-size: 11px
						input[type="radio"]
							display: none
						&.active
							border-bottom: 1px solid $white
				.content
					padding-top: 10px
					box-sizing: border-box
					font-size: 12px
					line-height: 14px
					padding-left: 118px
					padding-bottom: 13px
					border-bottom: 1px solid #e1e1e1
					.map
						margin-bottom: 15px
						position: relative
						margin-top: -1px
						padding: 0 10px
						margin-top: 12px
						&:before
							content: ''
							width: 18px
							height: 18px
							display: block
							background: url(../images/circle-placeholder.svg) no-repeat
							-moz-background-size: 100%
							-o-background-size: 100%
							background-size: 100%
							position: absolute
							left: -18px
							top: -2px
						&__link
							color: #334fb4
							border-bottom: 1px solid transparent
							&:hover
								border-bottom: 1px solid #334fb4
						&__info
							display: inline-block
					&__metro
						position: relative
						font-size: 11px
						line-height: 12px
						width: 100%
						padding: 0 10px
						box-sizing: border-box
						&:before
							content: ''
							width: 18px
							height: 18px
							display: block
							background: url(../images/circle-metro.svg) no-repeat
							-moz-background-size: 100%
							-o-background-size: 100%
							background-size: 100%
							position: absolute
							left: -18px
							top: -3px
						a
							color: $text-color
							margin-right: 7px
							display: inline-block
							border-bottom: 1px solid transparent
							margin-bottom: 9px
							.color-span
								margin-right: 5px
							.metro__link-text
								&:hover
									border-bottom: 1px solid #334fb4
									color: #334fb4
			.date
				box-sizing: border-box
				padding-left: 100px
				display: table
				width: 100%
				padding-bottom: 20px
				border-bottom: 1px solid #e1e1e1
				&__caption
					font-size: 11px
					line-height: 12px
					color: $text-color-light
					padding: 10px 0 7px 0
				select
					option
				.datepicker
					border: 0
					width: 0px
					cursor: pointer
				label[for="datepicker"]
					display: block
					float: left
					height: 40px
					width: 117px
					border-radius: 4px
					border: solid 1px #e1e1e1
					line-height: 40px
					font-size: 13px
					position: relative
					margin-top: 3px
					margin-left: 10px
					box-sizing: border-box
					padding-left: 39px
					cursor: pointer
					&:before
						content: ''
						display: block
						position: absolute
						left: 9px
						top: 9px
						width: 20px
						height: 20px
						background: url(../images/datepicker.svg) no-repeat
						background-size: 100%
			&__time
				display: table
				width: 100%
				box-sizing: border-box
				padding-top: 19px
				padding-left: 11px
				padding-bottom: 11px
				border-bottom: solid 1px #e1e1e1
				input[type="radio"]
					display: none
				label
					display: inline-block
					vertical-align: top
					float: left
					box-sizing: border-box
					width: 59px
					height: 32px
					line-height: 32px
					text-align: center
					font-family: $arimo-B
					font-size: 14px
					border: solid 1px #e1e1e1
					border-radius: 4px
					margin: 0 0 8px 8px
					cursor: pointer
					&:hover
						background: #334fb4
						color: $white
					&.label--disabled
						cursor: auto
						background: #f5f5f5 !important
						color: $text-color-light !important
				input[type="radio"]:checked + label
					background: #334fb4
					color: $white
			.form__btn-next
				border: 0
				outline: 0
				float: right
				display: block
				box-sizing: border-box
				color: #fff
				width: 128px
				height: 30px
				border-radius: 30px
				line-height: 32px
				font-size: 12px
				letter-spacing: 1px
				font-family: $arimo-B
				text-align: center
				text-transform: uppercase
				margin-right: 20px
				margin-top: 20px
				margin-bottom: 20px
				padding: 0
				cursor: pointer
			//part 2
			.cheched-time
				padding-top: 10px
				box-sizing: border-box
				font-size: 12px
				line-height: 14px
				padding-left: 118px
				padding-bottom: 22px
				border-bottom: 1px solid #e1e1e1
				border-top: 1px solid #e1e1e1
				.map
					margin-bottom: 14px
					position: relative
					margin-top: -1px
					padding: 0 10px
					margin-top: 12px
					&:before
						content: ''
						width: 18px
						height: 18px
						display: block
						background: url(../images/circle-placeholder.svg) no-repeat
						-moz-background-size: 100%
						-o-background-size: 100%
						background-size: 100%
						position: absolute
						left: -18px
						top: -2px
					&__link
						color: #334fb4
						border-bottom: 1px solid transparent
						&:hover
							border-bottom: 1px solid #334fb4
					&__info
						display: inline-block
				&__day
					position: relative
					font-size: 12px
					line-height: 14px
					width: 100%
					padding: 0 10px
					box-sizing: border-box
					&:before
						content: ''
						width: 18px
						height: 18px
						display: block
						background: url(../images/time.svg) no-repeat
						-moz-background-size: 100%
						-o-background-size: 100%
						background-size: 100%
						position: absolute
						left: -18px
						top: -3px
			.text-inputs
				padding: 20px
				box-sizing: border-box
				display: table
				width: 100%
				border-bottom: 1px solid #e1e1e1
				textarea
					display: block
					width: 100%
					outline: none
					box-sizing: border-box
					resize: none
					height: 100px
					border-radius: 4px
					background-color: #f5f7fc
					border: solid 1px #e1e1e1
					padding: 10px
					font-size: 12px
					line-height: 1.5
					font-family: $arimo-R
					color: $text-color-light
					margin-bottom: 20px
				input[type="text"], input[type="tel"]
					display: block
					float: left
					width: 48.5%
					outline: none
					box-sizing: border-box
					height: 40px
					line-height: 40px
					padding: 0 9px
					border-radius: 4px
					background-color: #f5f7fc
					border: solid 1px #e1e1e1
					font-size: 12px
					font-family: $arimo-R
					color: $text-color-light
				input[type="tel"]
					margin-left: 3%
				&__message
					color: $text-color-light
					font-size: 11px
					line-height: 12px
					padding-top: 10px
					display: table
					width: 100%
				input:active, input:focus, textarea:active, textarea:focus
					border: 1px solid #334fb4 !important
					outline: none !important
				input[type="email"]:invalid
					border: 1px solid #ff5353 !important
					color: #334fb4 !important
			&__change
				display: block
				float: left
				box-sizing: border-box
				text-align: center
				width: 197px
				height: 30px
				line-height: 30px
				border: 1px solid #e1e1e1
				border-radius: 30px
				background-color: $white
				font-size: 12px
				letter-spacing: 1px
				color: $text-color-light
				font-family: $arimo-B
				text-transform: uppercase
				margin: 20px 10px 20px 17px
				outline: none
			&__submit
				border: 0
				outline: 0
				float: right
				display: block
				box-sizing: border-box
				color: #fff
				width: 199px
				height: 30px
				border-radius: 30px
				line-height: 32px
				font-size: 12px
				letter-spacing: 1px
				font-family: $arimo-B
				text-align: center
				text-transform: uppercase
				margin-right: 20px
				margin-top: 20px
				margin-bottom: 20px
				padding: 0
				cursor: pointer
	
	//Appointment form (clinic)
	.app-clinic
		padding-top: 10px
		width: 700px
		&__title
			font-size: 18px
			line-height: 20px
			font-family: $arimo-B
			color: $text-color
			padding: 0 20px
			margin-bottom: 10px
		&__descr
			font-size: 12px
			color: $text-color-light
			line-height: 14px
			padding: 0 20px
			border-bottom: 1px solid #e1e1e1
			padding-bottom: 20px
		.form
			display: table
			width: 100%
			//part 1
			.tabs
				padding-top: 23px
				margin-bottom: 10px
				&__title
					font-size: 11px
					line-height: 12px
					color: $text-color-light
					margin-left: 20px
					margin-bottom: -16px
				&__caption
					display: table
					box-sizing: border-box
					width: 100%
					border-bottom: 1px solid #e1e1e1
					padding-left: 106px
					label
						float: left
						cursor: pointer
						border: 1px solid #e1e1e1
						border-top-left-radius: 5px
						border-top-right-radius: 5px
						height: 20px
						width: 20px
						display: block
						line-height: 20px
						text-align: center
						margin-left: -1px
						margin-bottom: -1px
						font-size: 11px
						input[type="radio"]
							display: none
						&.active
							border-bottom: 1px solid $white
				.content
					padding-top: 10px
					box-sizing: border-box
					font-size: 12px
					line-height: 14px
					padding-left: 38px
					padding-bottom: 13px
					border-bottom: 1px solid #e1e1e1
					.map
						margin-bottom: 15px
						position: relative
						margin-top: -1px
						padding: 0 10px
						margin-top: 12px
						&:before
							content: ''
							width: 18px
							height: 18px
							display: block
							background: url(../images/circle-placeholder.svg) no-repeat
							-moz-background-size: 100%
							-o-background-size: 100%
							background-size: 100%
							position: absolute
							left: -18px
							top: -2px
						&__link
							color: #334fb4
							border-bottom: 1px solid transparent
							&:hover
								border-bottom: 1px solid #334fb4
						&__info
							display: inline-block
					&__metro
						position: relative
						font-size: 11px
						line-height: 12px
						width: 100%
						padding: 0 10px
						box-sizing: border-box
						&:before
							content: ''
							width: 18px
							height: 18px
							display: block
							background: url(../images/circle-metro.svg) no-repeat
							-moz-background-size: 100%
							-o-background-size: 100%
							background-size: 100%
							position: absolute
							left: -18px
							top: -3px
						a
							color: $text-color
							margin-right: 7px
							display: inline-block
							border-bottom: 1px solid transparent
							margin-bottom: 9px
							.color-span
								margin-right: 5px
							.metro__link-text
								&:hover
									border-bottom: 1px solid #334fb4
									color: #334fb4
			.service
				padding-left: 20px
				padding-bottom: 20px
				border-bottom: 1px solid #e1e1e1
				&__caption
					font-size: 11px
					line-height: 12px
					color: $text-color-light
					padding: 10px 0 9px 0
				&__name
					line-height: 20px
					font-size: 18px

		
			.text-inputs
				padding: 20px
				box-sizing: border-box
				display: table
				width: 100%
				border-bottom: 1px solid #e1e1e1
				textarea
					display: block
					width: 100%
					outline: none
					box-sizing: border-box
					resize: none
					height: 100px
					border-radius: 4px
					background-color: #f5f7fc
					border: solid 1px #e1e1e1
					padding: 10px
					font-size: 12px
					line-height: 1.5
					font-family: $arimo-R
					color: $text-color-light
					margin-bottom: 20px
				input[type="text"], input[type="tel"]
					display: block
					float: left
					width: 37.9%
					outline: none
					box-sizing: border-box
					height: 40px
					line-height: 40px
					padding: 0 9px
					border-radius: 4px
					background-color: #f5f7fc
					border: solid 1px #e1e1e1
					font-size: 12px
					font-family: $arimo-R
					color: $text-color-light
				input[type="tel"]
					margin-left: 3%
					width: 30.2%
				.patient
					margin-left: 3%
					float: left
					box-sizing: border-box
					&__title
						font-size: 11px
						line-height: 12px
					label
						position: relative
						font-size: 13px
						line-height: 1.23
						display: block
						float: left
						margin-top: 13px
						padding-left: 21px
						cursor: pointer
						&:nth-of-type(2)
							margin-left: 19px
						&:before
							content: ''
							display: block
							height: 16px
							width: 16px
							border-radius: 50%
							position: absolute
							left: 0
							top: -1px
							border: solid 1px $text-color-light
							box-sizing: border-box
					input[type="radio"]
						display: none
					input[type="radio"]:checked + label
						&:before
							content: ''
							display: block
							height: 16px
							width: 16px
							border-radius: 50%
							position: absolute
							left: 0
							top: -1px
							border: solid 2px #334fb4
							box-sizing: border-box
						&:after
							content: ''
							display: block
							height: 8px
							width: 8px
							border-radius: 50%
							position: absolute
							left: 4px
							top: 3px
							background-color: #334fb4
							box-sizing: border-box
				&__message
					color: $text-color-light
					font-size: 11px
					line-height: 12px
					padding-top: 10px
					display: table
					width: 100%
			.contacts
				position: relative
				float: left
				margin-left: 60px
				margin-top: 21px
				&__descr
					font-size: 10px
					color: $text-color-light
					margin-bottom: 5px
				&__tel
					font-size: 13px
					font-weight: bold
					color: $text-color
				&:before
					content: ''
					display: block
					height: 30px
					width: 30px
					background: url(../images/phone.svg) no-repeat
					background-size: 100%
					position: absolute
					left: -40px
					top: 0
			input:active, input:focus, textarea:active, textarea:focus
				border: 1px solid #334fb4 !important
				outline: none !important
			input[type="email"]:invalid
				border: 1px solid #ff5353 !important
				color: #334fb4 !important
			&__submit
				border: 0
				outline: 0
				float: right
				display: block
				box-sizing: border-box
				color: #fff
				width: 199px
				height: 30px
				border-radius: 30px
				line-height: 32px
				font-size: 12px
				letter-spacing: 1px
				font-family: $arimo-B
				text-align: center
				text-transform: uppercase
				margin-right: 20px
				margin-top: 20px
				margin-bottom: 20px
				padding: 0
				cursor: pointer

	//Search doctors
	.search-doctor
		min-width: 700px
		&__title
			font-family: $arimo-B
			line-height: 16px
			padding: 20px 20px 17px
			border-bottom: solid 1px #e1e1e1
		.all
			padding: 20px
			padding-right: 0
			font-size: 12px
			box-sizing: border-box
			overflow-y: auto
			overflow-x: hidden
			max-height: 417px
			&__list
				float: left
				width: 25%
				padding-bottom: 18px
			&__hr
				display: block
				margin: 0
				height: 1px
				width: 100%
				border: 0
				background: #e1e1e1
				clear: both
				margin-left: -20px
				padding-right: 20px
				margin-top: 15px
			input[type="checkbox"]
				display: none
			label
				display: table
				box-sizing: border-box
				cursor: pointer
				margin-bottom: 12px
				margin-top: 1px
			input[type="checkbox"]:checked + label
				color: #334fb4
				&:before
					content: '✓'
					color: #334fb4
					font-family: $arimo-B
					margin-right: 2px
			.all__btn
				border: 0
				outline: 0
				float: right
				display: block
				box-sizing: border-box
				color: $white
				font-family: $arimo-B
				letter-spacing: 1px
				width: 94px
				border-radius: 30px
				line-height: 32px
				height: 30px
				font-size: 12px
				margin-right: 20px
				margin-top: 19px
				margin-bottom: 20px
				padding: 0
				cursor: pointer
				text-transform: uppercase
	
	//Search region
	.search-region
		min-width: 700px
		.tabs
			.caption--mobile
				display: none
			&__caption
				padding: 20px
				padding-bottom: 17px
				display: table
				width: 100%
				box-sizing: border-box
				border-bottom: 1px solid #e1e1e1
				li
					float: left
					margin-right: 21px
					margin-top: 1px
					cursor: pointer
					position: relative
					&:before
						content: ''
						display: block
						width: 100%
						height: 2px
						background: transparent
						position: absolute
						bottom: -18px
						left: 0
					&.active, &:hover
						&:before
							content: ''
							display: block
							width: 100%
							height: 2px
							background: #334fb4
							position: absolute
							bottom: -18px
							left: 0
			.content
				clear: both
				.cities
					padding: 20px
					padding-right: 0
					font-size: 12px
					box-sizing: border-box
					overflow-y: auto
					overflow-x: hidden
					max-height: 570px
					.labels-container
						padding-top: 19px
						box-sizing: border-box
						float: left
						width: 80%
						&__delete
							font-size: 11px
							line-height: 12px
							cursor: pointer
							margin-bottom: 10px
							display: block
							float: left
							color: #ff5353			
						label
							font-size: 11px
							line-height: 12px
							cursor: pointer
							margin-bottom: 10px
							display: block
							float: left
							margin-right: 11px
							&:after
								content: '×'
								margin-left: 3px
							&:hover
								color: #ff5353
					&__list
						float: left
						width: 25%
						padding-bottom: 18px
					&__hr
						display: block
						margin: 0
						height: 1px
						width: 100%
						border: 0
						background: #e1e1e1
						clear: both
						margin-left: -20px
						padding-right: 20px
						margin-top: 15px
					input[type="checkbox"]
						display: none
					label
						display: table
						box-sizing: border-box
						cursor: pointer
						margin-bottom: 12px
						margin-top: 1px
						&:hover
							color: #334fb4
					input[type="checkbox"]:checked + label
						color: #334fb4
						&:before
							content: '✓'
							color: #334fb4
							font-family: $arimo-B
							margin-right: 2px
					.cities__btn
						border: 0
						outline: 0
						float: right
						display: block
						box-sizing: border-box
						color: $white
						font-family: $arimo-B
						letter-spacing: 1px
						width: 94px
						border-radius: 30px
						line-height: 32px
						height: 30px
						font-size: 12px
						margin-right: 20px
						margin-top: 19px
						padding: 0
						cursor: pointer
						text-transform: uppercase
				.regions
					max-height: 570px
					overflow: auto
					.labels-container
						padding: 19px 20px
						box-sizing: border-box
						float: left
						width: 80%
						&__delete
							font-size: 11px
							line-height: 12px
							cursor: pointer
							margin-bottom: 10px
							display: block
							float: left
							color: #ff5353			
						label
							font-size: 11px
							line-height: 12px
							cursor: pointer
							margin-bottom: 10px
							display: block
							float: left
							margin-right: 11px
							&:after
								content: '×'
								margin-left: 3px
							&:hover
								color: #ff5353
					.lists
						padding: 20px
						position: relative
						display: table
						clear: both
						width: 100%
						box-sizing: border-box
						font-size: 12px
						padding-right: 0
						padding-bottom: 9px
						border-bottom: 1px solid #e1e1e1
						&:nth-last-of-type(1)
							padding-bottom: 7px
						&__caption
							position: absolute
							top: 5px
							left: 20px
							font-size: 60px
							color: #334fb4
							opacity: 0.1
							font-family: $roboto-BL
							font-weight: bold
							z-index: 1
						&__list
							float: left
							width: 25%
							position: relative
							z-index: 2
							box-sizing: border-box
							padding-right: 20px
							input[type="checkbox"]
								display: none
							label
								display: table
								box-sizing: border-box
								cursor: pointer
								margin-bottom: 9px
								margin-top: 9px
								line-height: 15px
								&:hover
									color: #334fb4
							input[type="checkbox"]:checked + label
								color: #334fb4
								&:before
									content: '✓'
									color: #334fb4
									font-family: $arimo-B
									margin-right: 2px
					&__btn
						border: 0
						outline: 0
						float: right
						display: block
						box-sizing: border-box
						color: $white
						font-family: $arimo-B
						letter-spacing: 1px
						width: 94px
						border-radius: 30px
						line-height: 32px
						height: 30px
						font-size: 12px
						margin-right: 20px
						margin-top: 19px
						padding: 0
						cursor: pointer
						text-transform: uppercase
						margin-bottom: 20px
				.metro
					max-height: 570px
					overflow: auto
					.labels-container
						padding: 19px 20px
						box-sizing: border-box
						float: left
						width: 80%
						&__delete
							font-size: 11px
							line-height: 12px
							cursor: pointer
							margin-bottom: 10px
							display: block
							float: left
							color: #ff5353			
						label
							font-size: 11px
							line-height: 12px
							cursor: pointer
							margin-bottom: 10px
							display: block
							float: left
							margin-right: 11px
							&:after
								content: '×'
								margin-left: 3px
							&:hover
								color: #ff5353
					.lists
						padding: 20px
						position: relative
						display: table
						clear: both
						width: 100%
						box-sizing: border-box
						font-size: 12px
						padding-right: 0
						padding-bottom: 9px
						border-bottom: 1px solid #e1e1e1
						&:nth-last-of-type(1)
							padding-bottom: 0px
							margin-bottom: -2px
						&__caption
							position: absolute
							top: 5px
							left: 20px
							font-size: 60px
							color: #334fb4
							opacity: 0.1
							font-family: $roboto-BL
							font-weight: bold
							z-index: 1
						&__list
							float: left
							width: 25%
							position: relative
							z-index: 2
							box-sizing: border-box
							padding-right: 20px

							input[type="checkbox"]
								display: none
							label
								display: table
								box-sizing: border-box
								cursor: pointer
								margin-bottom: 9px
								margin-top: 9px
								line-height: 15px
								&:hover
									color: #334fb4
							input[type="checkbox"]:checked + label
								color: #334fb4
								&:before
									content: '✓'
									color: #334fb4
									font-family: $arimo-B
									margin-right: 2px
					&__btn
						border: 0
						outline: 0
						float: right
						display: block
						box-sizing: border-box
						color: $white
						font-family: $arimo-B
						letter-spacing: 1px
						width: 94px
						border-radius: 30px
						line-height: 32px
						height: 30px
						font-size: 12px
						margin-right: 20px
						margin-top: 19px
						padding: 0
						cursor: pointer
						text-transform: uppercase
						margin-bottom: 20px
.fancybox-type-image
	.fancybox-skin
		background: $white !important
		padding: 30px !important
		.fancy-close
			top: 6px
			right: 6px

//mobile map
#mobi-map
	visibility: hidden
.mobile-map-overlay
	.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner
		top: 0 !important
		left: 0 !important
		width: 100% !important
		height: 100% !important
		border-radius: 0 !important
	#mobi-map
		width: 100% !important
		height: 100% !important
		max-width: 100% !important
		position: relative
		visibility: visible
		z-index: 2 !important
		.popup__map-container
			height: 100% !important
	.fancy-close
		width: 50px !important
		height: 50px !important
		border-radius: 50% !important
		background: $white url(../images/close.svg) no-repeat !important
		background-position: 50% 50% !important
		svg
			display: none !important