.header
	.mobile
		display: none
	.map
		display: none
@media only screen and (max-width: 767px)
	body
		//head
		.header
			box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.1)
			.header__city
				display: none
			.header__contacts
				display: none
			.header__logo-min
				margin-left: 6%
			.mobile
				display: table
				float: right
				margin-top: 5px
				.menu
					display: block
					cursor: pointer
					float: right
					padding: 10px
					margin-top: 2px
					margin-right: 10px
					svg
				.map
					display: block
					cursor: pointer
					float: right
					padding: 10px
		//menu
		.mobile-menu
			display: block
			position: fixed
			top: 0
			right: 0
			z-index: 999
			background: $white
			width: 100%
			height: 100%
			//max-width: 320px
			//max-height: 568px
			max-width: 300px
			box-sizing: border-box
			//border-left: 20px solid $background
			overflow: auto
			//display: none
			margin-right: -320px
			+transition(0.2s ease-in-out)
			&--active
				margin-right: 0px
			&>div
				min-height: 568px
			.logo
				display: table
				margin-left: 20px
				margin-top: 20px
				float: left
				margin-bottom: 21px
				svg
					width: 29px
					height: 29px
					display: block
					float: left
					margin-right: 11px
				.around
					float: left
					&__title
						margin-top: 1px
						margin-bottom: 12px
						svg
							width: 148px
							height: 13.5px
					&__descr
						font-size: 8px
						letter-spacing: -0.6px
						display: block
						margin-left: 0px
						margin-top: 21px
			.menu__close
				width: 50px
				height: 50px
				-webkit-border-radius: 50%
				-moz-border-radius: 50%
				border-radius: 50%
				background: url(../images/close.svg) 50% 50% no-repeat #fff
				top: 3px
				right: 3px
				cursor: pointer
				z-index: 8888
				position: absolute
			.menu__city
				display: table
				width: 100%
				position: relative
				&:before
					content: ''
					height: 20px
					width: 20px
					background: url(../images/city-gray.svg) no-repeat
					background-size: 100%
					position: absolute
					left: 20px
					top: 20px
					z-index: 2
				&:after
					content: ''
					display: block
					position: absolute
					top: 28px
					right: 20px
					width: 0
					height: 0
					border-style: solid
					border-width: 5px 5px 0
					border-color: grey transparent transparent
				select
					position: relative
					border: none
					background: transparent
					font-size: 18px
					color: #9b9b9b
					width: 100%
					padding-left: 60px
					height: 60px
					background-position: 84% center
					outline: none
					cursor: pointer
					box-sizing: border-box
					border-bottom: 1px solid #e1e1e1
					border-top: 1px solid #e1e1e1
					option
						background-color: $white
			.search-mobi
				box-sizing: border-box
				margin: 0 auto
				background-color: $white
				&__doctor
					position: relative
					height: 59px
					border-bottom: 1px solid #e1e1e1
					box-sizing: border-box
					input
						line-height: 60px
						font-size: 18px
						color: $text-color
						height: 100%
						box-sizing: border-box
						border: 0
						width: 100%
						display: block
						padding-left: 60px
						outline: none
						&::-webkit-input-placeholder
							color: #9b9b9b
						&::-moz-placeholder
							color: #9b9b9b
						&:-moz-placeholder
							color: #9b9b9b
						&:-ms-input-placeholder
							color: #9b9b9b
					&:before
						content: ''
						display: block
						height: 21px
						width: 21px
						background: url(../images/search.svg) no-repeat
						background-size: 100%
						position: absolute
						top: 18px
						left: 19px
				&__region
					height: 100%
					position: relative
					input, select
						line-height: 60px
						font-size: 18px
						color: #9b9b9b
						height: 60px
						box-sizing: border-box
						border: 0
						width: 100%
						display: block
						padding-left: 60px
						outline: none
						position: relative
						&::-webkit-input-placeholder
							color: #9b9b9b
							font-family: $arimo-R
						&::-moz-placeholder
							color: #9b9b9b
							font-family: $arimo-R
						&:-moz-placeholder
							color: #9b9b9b
							font-family: $arimo-R
						&:-ms-input-placeholder
							color: #9b9b9b
							font-family: $arimo-R
					&:before
						content: ''
						display: block
						height: 22px
						width: 17px
						background: url(../images/placeholder.svg) no-repeat
						position: absolute
						top: 19px
						left: 23px
						z-index: 2
				&__button
					width: 100%
					height: 60px
					box-shadow: 0 2px 9px 0 rgba(212, 33, 55, 0.46)
					border: 0
					font-size: 24px
					letter-spacing: 1px
					color: $white
					cursor: pointer
					outline: none
					display: block
					text-transform: uppercase
					background-image: linear-gradient(166deg, #ff4b81, #d42131)
					&:hover
						background-image: linear-gradient(166deg, #ff4b81, #d42131)
						box-shadow: 0 6px 24px 0 rgba(212, 33, 55, 0.46) !important
					&:active, &:focus
						background-image: linear-gradient(166deg, #ae3257, #d11627)
						box-shadow: 0 6px 24px 0 rgba(212, 33, 55, 0.46) !important
			.contacts
				position: relative
				float: none
				clear: both
				display: table
				margin: 0 auto
				margin-top: 30px
				width: 260px
				height: 60px
				border-radius: 60px
				background-color: #ffffff
				border: solid 1px #e1e1e1
				box-sizing: border-box
				padding-left: 19px
				padding-top: 10px
				&__descr
					font-size: 12px
					color: $text-color-light
					margin-bottom: 5px
				&__tel
					font-size: 20px
					font-weight: bold
					color: $text-color
				&:after
					content: ''
					display: block
					height: 40px
					width: 40px
					background: url(../images/phone.svg) no-repeat
					background-size: 100%
					position: absolute
					right: 20px
					top: 9px
			.menu__foot
				width: 100%
				display: table
				box-sizing: border-box
				padding-left: 20px
				margin-left: auto
				margin-right: auto
				margin-top: -2px
				background: $white
				border-bottom-left-radius: 10px
				border-bottom-right-radius: 10px
				a
					line-height: 22px
					font-size: 20px
					color: $text-color
					position: relative
					width: 100%
					display: block
					margin-top: 32px
					&:before
						content: ''
						width: 30px
						height: 2px
						background-color: #334fb4
						position: absolute
						bottom: -12px
						left: 0
		//Mobile call
		.mobile-call
			display: block
			position: fixed
			bottom: 0
			left: 0
			width: 100%
			height: 50px
			background-color: rgba(73, 73, 73, 0.5)
			z-index: 99
			.call__link
				width: 246px
				height: 40px
				display: block
				margin: 5px auto
				border-radius: 30px
				border: solid 1px $white
				font-size: 16px
				color: $white
				box-sizing: border-box
				line-height: 40px
				cursor: pointer
				padding-left: 20px
				position: relative
				&:after
					content: ''
					display: block
					width: 20px
					height: 20px
					background: url(../images/phone-white.svg) no-repeat
					background-size: 100%
					background-position: center
					position: absolute
					top: 10px
					right: 20px