.pagination
	font-size: 20px
	line-height: 22px
	color: #334fb4
	padding-top: 16px
	padding-bottom: 72px
	li
		display: inline-block
		border-bottom: 2px solid transparent
		padding-bottom: 5px
		margin-right: 9px
		a
			padding: 4px
			display: block
			color: inherit
			border-bottom: 2px solid transparent
			padding-bottom: 5px
			&:hover
				border-bottom: 2px solid #334fb4
	.current
		padding: 4px
		padding-bottom: 5px
		color: $text-color
		border-bottom: 2px solid $text-color