.rating-stars, .review__content, .stars{
  fieldset{ 
    border: none;
    float: left;
  }

  fieldset> input { display: none; } 
  fieldset> label:before { 
    margin: 5px 4px 5px 0;
    font-size: 15px;
    font-family: "FontAwesome";
    display: inline-block;
    content: "\f006";
  }

  fieldset> .half:before { 
    content: "\f006";
    position: absolute;
  }

  fieldset> input:checked ~ label:before{ 
    margin: 5px 4px 5px 0;
    font-size: 15px;
    font-family: "FontAwesome";
    display: inline-block;
    content: "\f005";
  }

  fieldset> input:checked ~ label.half:before{
    margin: 5px 4px 5px 0;
    font-size: 15px;
    font-family: "FontAwesome";
    display: inline-block;
    content: "\f089";
  }

  fieldset> label { 
    color: #ddd; 
   float: right; 
  }

  fieldset> input:checked ~ label, /* show gold star when clicked */
  fieldset:not(:checked) > label:hover, /* hover current star */
  fieldset:not(:checked) > label:hover ~ label { color: #f6a623; } /* hover previous stars in list */

  fieldset> input:checked + label:hover, /* hover current star when changing rating */
  fieldset> input:checked ~ label:hover,
  fieldset> label:hover ~ input:checked ~ label, /* lighten current selection */
  fieldset> input:checked ~ label:hover ~ label { color: #FFD700; }
}