@import 'base/reset'
@import 'base/mixins'
@import 'base/fonts'
@import 'base/variables'
@import 'layout/grid'

body
	background: $white
	font-family: $arimo-R
	font-size: 14px
	color: $text-color
	position: relative
	width: 100%
	overflow-x: hidden
html, body
	height: 100%
	//min-width: 768px
	background: $background
.wrapper
	min-height: 100%
	height: auto !important
	height: 100%
main
	display: block
	padding-bottom: $footer-height
footer
	margin-top: -$footer-height
	box-sizing: border-box
a
	+transition(0.2s ease-in-out)
input[type="submit"]
	+transition(0.2s ease-in-out)

//buttons
.btn-red
	background-image: linear-gradient(166deg, #ff4b81, #d42131)
	&:hover
		background-image: linear-gradient(166deg, #ff4b81, #d42131)
		box-shadow: 0 6px 24px 0 rgba(212, 33, 55, 0.46) !important
	&:active, &:focus
		background-image: linear-gradient(166deg, #ae3257, #d11627)
		box-shadow: 0 6px 24px 0 rgba(212, 33, 55, 0.46) !important

.btn-blue
	background-image: linear-gradient(347deg, #3023ae, #53a0fe 68%)
	&:hover
		background-image: linear-gradient(349deg, #3023ae, #53a0fe 68%)
		box-shadow: 0 2px 9px 0 rgba(51, 79, 180, 0.5) !important
	&:active, &:focus
		background-image: linear-gradient(to bottom, #3023ae, #53a0fe)

//color points
.color-span
	width: 6px
	height: 6px
	display: inline-block
	vertical-align: middle
	border-radius: 50%
.color-span--yellow
	background: #fcd943
.color-span--brown
	background: #780308
.color-span--orange
	background: #fd7d23
.color-span--green
	background: #8ccb44
.color-span--gray
	background: #a1a1a1
.color-span--dark-blue
	background: #052684
.color-span--blue
	background: #0f97ce
.color-span--purple
	background: #8f0e79
.color-span--red
	background: #ca0915

//tabs
.tabs__content
	display: none
.tabs__content.active
	display: block

//Spoilers
.spoiler__body
	display: none
.spoiler__link
	cursor: pointer

//
.hidden-element
	display: none !important
.day--active
	display: block !important
.mobile-menu, .mobile-call
	display: none


@import 'pages/home'
@import 'components/selectize'
@import 'components/font-awesome'
@import 'pages/all-doctors'
@import 'pages/results-doctors'
@import 'layout/breadcrumbs'
@import 'layout/pagination'
@import 'pages/results-clinics'
@import 'pages/single-doctors'
@import 'layout/rating-stars'
@import 'components/jquery.fancybox'
@import 'layout/form'
@import 'components/flatpickr'
@import 'pages/single-clinic'
@import 'components/glide.core'
@import 'components/glide.theme'
@import 'layout/mob-menu'