@import 'base/variables'
@media only screen and (max-width: 1200px)
	//all doctors and clinics page
	.wrapper--all-doctors .container-fluid
		border: 10px solid #f4f4f6
		padding-bottom: 55px
	.all-doctors
		.header
			.header__link
				display: none
			.header__logo-min
				margin-left: 2.75%
			.contacts
				margin-right: 71px
		.main
			padding-left: 20px
			padding-right: 20px
			padding-right: 0
			box-sizing: border-box
			&__title
				margin: 69px 0 30px
			&>div
				display: block
				clear: both
				span
					width: 30.5%
					&:nth-of-type(4n)
						margin-right: 2.5%
					&:nth-of-type(3n)
						margin-right: 0
			#main-clinics
				.main__title
					margin: 18px 0 30px
				.search
					max-width: 708px
					margin-bottom: 55px
					margin-top: 45px
					left: -10px
					position: relative
					&__button
						width: 70px
						color: transparent
						background: url(../images/search-white.svg) 46% 48% no-repeat, linear-gradient(166deg, #ff4b81, #d42131)
						&:hover
							background: url(../images/search-white.svg) 46% 48% no-repeat, linear-gradient(166deg, #ff4b81, #d42131)
							box-shadow: 0 6px 24px 0 rgba(212, 33, 55, 0.46) !important
						&:active, &:focus
							background: url(../images/search-white.svg) 46% 48% no-repeat, linear-gradient(166deg, #ae3257, #d11627)
							box-shadow: 0 6px 24px 0 rgba(212, 33, 55, 0.46) !important
					&__doctor
						input
							width: 333px
@media only screen and (max-width: 1170px)
	//home page
	.home
		border-left: 10px solid #f4f4f6
		border-right: 10px solid #f4f4f6
		.header
			.header__logo
				margin-left: 2.8%
				width: 312px
			.logo
				svg
					width: 67px
					height: 67px
				.around
					&__title
						float: left
						margin-top: 11px
						margin-bottom: 9px
						svg
							width: 222px
							height: 23px
					&__descr
						font-size: 10px
						letter-spacing: 0.1px
						margin-left: 0px
						margin-top: 2px
			.header__city
				margin-right: 0
				margin-top: 80px
				margin-left: 61px
				width: 197px
			.contacts
				margin-top: 90px
		.main
			.main__title
				font-size: 40px
				margin: 101px auto 38px
				line-height: 45px
				padding: 0 20px
				box-sizing: border-box
			.search
				max-width: 708px
				&__button
					width: 70px
					color: transparent
					background: url(../images/search-white.svg) 46% 48% no-repeat, linear-gradient(166deg, #ff4b81, #d42131)
					&:hover
						background: url(../images/search-white.svg) 46% 48% no-repeat, linear-gradient(166deg, #ff4b81, #d42131)
						box-shadow: 0 6px 24px 0 rgba(212, 33, 55, 0.46) !important
					&:active, &:focus
						background: url(../images/search-white.svg) 46% 48% no-repeat, linear-gradient(166deg, #ae3257, #d11627)
						box-shadow: 0 6px 24px 0 rgba(212, 33, 55, 0.46) !important
				&__doctor
					input
						width: 333px
		&__footer
			padding: 135px 20px 81px
@media only screen and (max-width: 1000px)
	//result doctors
	.result-doctors
		max-height: none
		.header
			.contacts
				margin-right: 71px
		.header__logo-min
			margin-left: 2.75%
		.main
			.container
				max-width: 700px
			&>.container
				margin-left: 20px
			.head
				.col-9
					width: 100%
				.counter
					right: -26px
			.head__info
				display: none
			.doctors
				.doctor
					.info
						width: 100%
						max-width: 580px
					.all-addresses
						.item
							.work-days__next
								right: 2px
								top: 5px
							.work-days__prev
								right: 19px
								top: 5px
				.col-9
					width: 100%
				.sidebar
					display: none
	//result clinics
	.result-clinics
		.header
			.contacts
				margin-right: 71px
		.header__logo-min
			margin-left: 2.75%
		.main
			.container
				max-width: 700px
			&>.container
				margin-left: 20px
			.head
				padding-bottom: 61px
				.col-9
					width: 100%
				.counter
					right: -27px
			.head__info
				display: none
			.clinics
				.col-9
					width: 100%
				.clinic
					.col-9
						width: 73%
				.sidebar
					display: none
	//single doctor
	.h1--body-single-doctor
		margin-left: -250px
	.single-doctors
		.header
			.contacts
				margin-right: 71px
		.header__logo-min
			margin-left: 2.75%
		.main
			.head
				&__title
					.col-12
						width: 95%
			&>.container
				background: $background
			.breadcrumbs
				width: 100%
				float: none
				margin: 0 auto
				max-width: 700px
			.description
				.container
					.row
						width: 100%
						max-width: 700px
						margin: 0 auto
						.col-9
							width: 100%
				.sidebar
					width: 100%
					margin-left: 0
					margin-bottom: 20px
					&__title
						padding-top: 10px
					.tabs
						.content
							padding-left: 37px
							padding-top: 23px
							&>div, &>div:last-child
								width: 50%
								float: left
								background: $white
								border-top: none
								padding-bottom: 10px
							.map
								&:before
									content: ''
									width: 18px
									height: 18px
									display: block
									background: url(../images/circle-placeholder.svg) no-repeat
									background-size: 100%
									position: absolute
									left: -18px
									top: -2px
							.metro
								&:before
									content: ''
									width: 18px
									height: 18px
									display: block
									background: url(../images/circle-metro.svg) no-repeat
									background-size: 100%
									position: absolute
									left: -18px
									top: -2px
							&__map-btn
								margin-left: 10px
								margin-top: 10px
							.glide
								display: none
							.content__mobile-work-days>div
								position: relative
							.content__mobile-work-days
								width: 102%
								display: table
								box-sizing: border-box
								margin-top: 1px
								padding: 10px
								padding-right: 0
								position: relative
								width: 100%
								margin-top: -3px
								padding: 0px 0 38px 51px
								.work-days__hr
									display: none
								.day
									float: left
									width: 90px
									margin-right: 0
									&__caption
										font-size: 10px
										line-height: 11px
										color: $text-color-light
										padding-bottom: 5px
									&__date
										font-size: 12px
										line-height: 14px
										padding-bottom: 5px

									&__work-time
										font-size: 12px
										line-height: 14px
										color: #334fb4
										&:hover
											border-bottom: 1px solid #334fb4
									&--holiday
										border-bottom: 1px solid transparent
										.day__date
											color: #ff5353
										.day__work-time
											color: $text-color-light
											&:hover
												border-bottom: 1px solid transparent
							&__mobile-date-btn
								display: block
								margin: 1px auto 0px
								box-sizing: border-box
								text-align: center
								color: #334fb4
								font-size: 11px

								height: 30px
								line-height: 28px
								border: solid 1px #e1e1e1
								border-radius: 15px
								text-transform: uppercase
								cursor: pointer


								margin-right: 11px
								margin-top: 9px
								width: 270px

	//single clinic
	.h1--body-single-clinic
		margin-left: -330px
	.single-clinics
		.header
			.contacts
				margin-right: 71px
		.header__logo-min
			margin-left: 2.75%
		.main
			.head
				&__title
					.col-12
						width: 95%
			&>.container
				background: $background
			.breadcrumbs
				width: 100%
				float: none
				margin: 0 auto
				max-width: 700px
			.description
				.container
					.row
						width: 100%
						max-width: 700px
						margin: 0 auto
						.col-9
							width: 100%
				.sidebar
					width: 100%
					margin-left: 0
					margin-bottom: 20px
					.prices, .prices:nth-last-of-type(1)
						clear: both
						height: 600px
						overflow: auto
						padding-bottom: 0
						.prices__title
							padding-top: 6px
							padding-bottom: 21px
						.spoiler
							&__link
								border-top: 1px solid #e1e1e1
								padding: 13px 20px 13px 20px
							&--open
								margin-top: 0
								.spoiler__link
									padding-top: 13px
									&:before
										top: 17px
								.body
									border-bottom: 0
									margin-bottom: 0
									padding-bottom: 15px
									padding: 0
									li
										border-top: 1px solid #e1e1e1
										padding: 0
										margin-top: 0
										span
											padding: 13px 20px 13px 20px
										.body__price
											display: inline-block
											//padding-left: 4px
										ul
											padding: 0
											li	
												padding: 0
												span
													padding-top: 13px
													padding-bottom: 13px
													padding-left: 30px
													padding-right: 20px
												ul
													li
														span
															padding-top: 13px
															padding-bottom: 13px
															padding-left: 40px
															padding-right: 20px
					&__map-container
						height: 320px
						float: left
						& + div
							float: left
							width: 460px
							height: 320px
							overflow: auto
							margin-bottom: 20px
					.address
						&:nth-last-of-type(1)
							margin-bottom: 0
				.doctor
					.all-addresses
						.item
							.work-days__next
								right: 1px
								top: 5px
							.work-days__prev
								right: 18px
								top: 5px
@media only screen and (max-width: 767px)
	.clearfix
		clear: both
	.header__logo-min svg
		display: table
	//home page
	.home
		border: 10px solid $background
		width: 100%
		box-sizing: border-box

		.header
			.logo
				display: table
				margin-left: 20px
				margin-top: 20px
				float: left
				margin-bottom: 21px
				width: 200px
				svg
					width: 29px
					height: 29px
					display: block
					float: left
					margin-right: 11px
				.around
					float: left
					&__title
						margin-top: 1px
						margin-bottom: 6px
						svg
							width: 148px
							height: 13.5px
					&__descr
						font-size: 8px
						letter-spacing: -0.6px
						display: block
						margin-left: 0px
						float: none
			.mobile
				.menu
					margin-top: 5px
					margin-right: 11px
		.main
			padding-top: 10px
			.main__title
				margin-top: 0
				font-size: 24px
				line-height: 27px
				margin-bottom: 30px
			.search
				display: none
				.search__doctor
					input
						width: 100%
			.main__city
				display: table
				width: 100%
				position: relative
				&:before
					content: ''
					height: 20px
					width: 20px
					background: url(../images/city-gray.svg) no-repeat
					background-size: 100%
					position: absolute
					left: 20px
					top: 20px
					z-index: 2
				&:after
					content: ''
					display: block
					position: absolute
					top: 28px
					right: 20px
					width: 0
					height: 0
					border-style: solid
					border-width: 5px 5px 0
					border-color: grey transparent transparent
				select
					position: relative
					border: none
					background: transparent
					font-size: 18px
					color: #9b9b9b
					width: 100%
					padding-left: 60px
					height: 60px
					background-position: 84% center
					outline: none
					cursor: pointer
					box-sizing: border-box
					border-bottom: 1px solid #e1e1e1
					border-top: 1px solid #e1e1e1

					option
						background-color: $white
			.search-mobi
				box-sizing: border-box
				margin: 0 auto
				background-color: $white
				&__doctor
					position: relative
					height: 59px
					border-bottom: 1px solid #e1e1e1
					box-sizing: border-box
					input
						line-height: 60px
						font-size: 18px
						color: $text-color
						height: 100%
						box-sizing: border-box
						border: 0
						width: 100%
						display: block
						padding-left: 60px
						outline: none
						&::-webkit-input-placeholder
							color: #9b9b9b
						&::-moz-placeholder
							color: #9b9b9b
						&:-moz-placeholder
							color: #9b9b9b
						&:-ms-input-placeholder
							color: #9b9b9b
					&:before
						content: ''
						display: block
						height: 21px
						width: 21px
						background: url(../images/search.svg) no-repeat
						background-size: 100%
						position: absolute
						top: 18px
						left: 19px
				&__region
					height: 100%
					position: relative
					input, select
						line-height: 60px
						font-size: 18px
						color: #9b9b9b
						height: 60px
						box-sizing: border-box
						border: 0
						width: 100%
						display: block
						padding-left: 60px
						outline: none
						position: relative
						&::-webkit-input-placeholder
							color: #9b9b9b
							font-family: $arimo-R
						&::-moz-placeholder
							color: #9b9b9b
							font-family: $arimo-R
						&:-moz-placeholder
							color: #9b9b9b
							font-family: $arimo-R
						&:-ms-input-placeholder
							color: #9b9b9b
							font-family: $arimo-R
					&:before
						content: ''
						display: block
						height: 22px
						width: 17px
						background: url(../images/placeholder.svg) no-repeat
						position: absolute
						top: 19px
						left: 23px
						z-index: 2
				&__button
					width: 100%
					height: 60px
					box-shadow: 0 2px 9px 0 rgba(212, 33, 55, 0.46)
					border: 0
					font-size: 24px
					letter-spacing: 1px
					color: $white
					cursor: pointer
					outline: none
					display: block
					text-transform: uppercase
					background-image: linear-gradient(166deg, #ff4b81, #d42131)
					&:hover
						background-image: linear-gradient(166deg, #ff4b81, #d42131)
						box-shadow: 0 6px 24px 0 rgba(212, 33, 55, 0.46) !important
					&:active, &:focus
						background-image: linear-gradient(166deg, #ae3257, #d11627)
						box-shadow: 0 6px 24px 0 rgba(212, 33, 55, 0.46) !important
			.main__contacts
				position: relative
				float: none
				clear: both
				display: table
				margin: 0 auto
				margin-top: 30px
				width: 260px
				height: 60px
				border-radius: 60px
				background-color: #ffffff
				border: solid 1px #e1e1e1
				box-sizing: border-box
				padding-left: 19px
				padding-top: 10px
				.contacts__descr
					font-size: 12px
					color: $text-color-light
					margin-bottom: 5px
				.contacts__tel
					font-size: 20px
					font-weight: bold
					color: $text-color
				&:after
					content: ''
					display: block
					height: 40px
					width: 40px
					background: url(../images/phone.svg) no-repeat
					background-size: 100%
					position: absolute
					right: 20px
					top: 9px
			.mobile-doctors
				display: block
				&__title
					font-size: 24px
					line-height: 42px
					margin: 0
					width: 100%
					padding: 23px 20px 13px 20px
					box-sizing: border-box
				span
					font-size: 18px
					line-height: 21.5px
					margin: 0
					margin-right: 0
					width: 100%
					margin-bottom: 20px
					display: inline-block
					vertical-align: top
					box-sizing: border-box
					padding-left: 20px
					padding-right: 20px
					a
						color: inherit
						position: relative
						border-bottom: 1px solid transparent
						padding-bottom: 2px
						&:hover
							color: #334fb4
							border-bottom: 1px solid #334fb4
						sup
							font-size: 12px
							color: #9b9b9b
							margin-top: -2px
							display: inline-block
							position: absolute
							margin-top: -2px
							margin-left: 6px
			.mobile-clinics
				display: block
				padding-bottom: 6px
				&__title
					font-size: 24px
					line-height: 27px
					margin: 0
					padding: 19px 20px 18px 20px
					box-sizing: border-box
				span
					font-size: 18px
					line-height: 21.5px
					margin: 0
					margin-right: 0
					width: 100%
					margin-bottom: 20px
					display: inline-block
					vertical-align: top
					box-sizing: border-box
					padding-left: 20px
					padding-right: 20px
					a
						color: inherit
						position: relative
						border-bottom: 1px solid transparent
						padding-bottom: 2px
						&:hover
							color: #334fb4
							border-bottom: 1px solid #334fb4
						sup
							font-size: 12px
							color: #9b9b9b
							margin-top: -2px
							display: inline-block
							position: absolute
							margin-top: -2px
							margin-left: 6px
		.home__footer
			padding: 0
			padding-bottom: 20px
			margin-bottom: 10px
			a
				display: none
	//results doctors
	.result-doctors
		.main
			.container
				max-width: none
			&>.container
				display: none
			.doctors
				.sort
					display: none
				.mobile__search-caption
					display: block
					font-size: 19px
					padding: 20px 0
					padding-left: 9px
					padding-bottom: 11px
					box-sizing: border-box
				.mobile__search
					display: block
					box-sizing: border-box
					margin: 0 auto
					background-color: $background
					padding: 0 10px
					margin-bottom: 20px
					.search__doctor
						position: relative
						height: 60px
						border-bottom: 1px solid #e1e1e1
						box-sizing: border-box
						input, select
							line-height: 60px
							border-top-left-radius: 10px
							border-top-right-radius: 10px
							font-size: 18px
							color: #4262d6
							height: 100%
							box-sizing: border-box
							border: 0
							font-family: $arimo-R
							width: 100%
							display: block
							padding-left: 60px
							outline: none
							&::-webkit-input-placeholder
								color: #4262d6
							&::-moz-placeholder
								color: #4262d6
							&:-moz-placeholder
								color: #4262d6
							&:-ms-input-placeholder
								color: #4262d6
						&:before
							content: ''
							display: block
							height: 21px
							width: 21px
							background: url(../images/search.svg) no-repeat
							background-size: 100%
							position: absolute
							top: 19px
							left: 19px
					.search-mobi__region
						height: 100%
						position: relative
						input, select
							border-bottom-left-radius: 10px
							border-bottom-right-radius: 10px
							line-height: 60px
							font-size: 18px
							color: #4262d6
							height: 60px
							box-sizing: border-box
							border: 0
							width: 100%
							display: block
							padding-left: 60px
							font-family: $arimo-R
							outline: none
							position: relative
							&::-webkit-input-placeholder
								color: #4262d6
								font-family: $arimo-R
							&::-moz-placeholder
								color: #4262d6
								font-family: $arimo-R
							&:-moz-placeholder
								color: #4262d6
								font-family: $arimo-R
							&:-ms-input-placeholder
								color: #4262d6
								font-family: $arimo-R
						&:before
							content: ''
							display: block
							height: 22px
							width: 17px
							background: url(../images/placeholder.svg) no-repeat
							position: absolute
							top: 20px
							left: 23px
							z-index: 2
				.mobile__date-slide
					display: block
					background-image: linear-gradient(350deg,#6f62ea,#53a0fe 100%,#50ed99)
					position: relative
					margin-bottom: 20px
					.date-slide__caption
						font-size: 20px
						font-family: $arimo-B
						line-height: 1.2
						color: rgba(255, 255, 255, 0.5)
						padding: 14px 20px 12px 20px
						width: 56%
					.date-slide__prev
						width: 50px
						height: 50px
						position: absolute
						top: 0
						right: 50px
						background: url(../images/arrow2.svg) no-repeat
						background-position: 50%
						transform: scale(-1, 1)
						opacity: 0.2
						border-right: 1px solid rgba(255,255,255,0.5)
						box-sizing: border-box
						cursor: pointer
					.date-slide__next
						width: 50px
						height: 50px
						position: absolute
						top: 0
						right: 0
						background: url(../images/arrow2.svg) no-repeat
						background-position: 50%
						border-left: 1px solid rgba(255,255,255,0.5)
						box-sizing: border-box
						cursor: pointer
				.doctor
					padding: 0 10px
					background: $background
					border-radius: 10px
					&>div
						background: $white
					.avatar
						padding-left: 10px
						margin-right: 0
						padding-top: 20px
						padding-right: 10px
						border-radius: 10px
						position: relative
						z-index: 2
					.info
						float: none
						padding-top: 20px
						padding-bottom: 10px
						box-sizing: border-box
						border-radius: 10px
						padding-right: 0
						max-width: none
						position: relative
						.col-7
							width: 71%
							min-height: 139px
						&__experience
							display: block
							margin-right: 0
							width: 100%
							padding-bottom: 7px
						&__reviews
							display: none
						&__reviews--mobi
							display: block
							padding-top: 7px
							strong
								font-family: $arimo-B
								color: $text-color
						.rating
							position: absolute
							top: 100px
							left: 20px
							margin: 0
							&__num
								margin-top: 6px
						.col-5
							width: 100%
							float: none
							clear: both
							display: table
							.contacts
								width: 100%
								&__text, &__tel
									display: none
								&__button
									width: 280px
									margin: 0 auto
									letter-spacing: 0
									margin-top: 10px
						.descr
							display: none
						.info__metro--mobile
							display: block
							box-sizing: border-box
							padding-left: 38px
							position: relative
							font-size: 11px
							line-height: 12px
							padding-top: 13px
							//padding-bottom: 3px
							padding-bottom: 2px
							border-bottom: 1px solid #e1e1e1
							border-top: 1px solid #e1e1e1
							margin-top: 11px
							&:before
								content: ''
								width: 18px
								height: 18px
								display: block
								background-position: 50%
								background: url(../images/circle-metro.svg) no-repeat
								background-size: 100%
								position: absolute
								left: 10px
								top: 10px
							a
								color: $text-color
								margin-right: 7px
								display: inline-block
								border-bottom: 1px solid transparent
								margin-bottom: 9px
								.color-span
									margin-right: 5px
								.metro__link-text
									&:hover
										border-bottom: 1px solid #334fb4
										color: #334fb4
						.mobile-form__time
							display: inline-block
							width: 100%
							padding-top: 40px
							vertical-align: top
							overflow: hidden
							overflow-x: auto
							position: relative
							&>div
								overflow: hidden
								white-space: nowrap
								text-align: center
								position: absolute
								height: 40px
								top: 0
								left: 0
							input
								display: none
							label
								display: inline-block
								vertical-align: top
								//float: left
								box-sizing: border-box
								width: 59px
								height: 32px
								line-height: 32px
								text-align: center
								font-family: $arimo-B
								font-size: 14px
								border: solid 1px #e1e1e1
								border-radius: 4px
								margin: 8px 0px 0px 8px
								cursor: pointer
								&:hover
									background: #334fb4
									color: $white
								&.label--disabled
									cursor: auto
									background: #f5f5f5 !important
									color: $text-color-light !important
					.all-addresses
						display: none
				.pagination
					padding-top: 0px
					padding-bottom: 20px
					padding-left: 10px
					padding-right: 10px
					box-sizing: border-box
					margin-top: -4px
	//results clinics
	.result-clinics
		.main
			.container
				max-width: none
			&>.container
				display: none
			.clinics
				.sort
					display: none
				.mobile__search-caption
					display: block
					font-size: 19px
					padding: 20px 0
					padding-left: 9px
					padding-bottom: 11px
					box-sizing: border-box
				.mobile__search
					display: block
					box-sizing: border-box
					margin: 0 auto
					background-color: $background
					padding: 0 10px
					margin-bottom: 20px
					.search__doctor
						position: relative
						height: 60px
						border-bottom: 1px solid #e1e1e1
						box-sizing: border-box
						input, select
							line-height: 60px
							border-top-left-radius: 10px
							border-top-right-radius: 10px
							font-size: 18px
							color: #4262d6
							height: 100%
							box-sizing: border-box
							border: 0
							font-family: $arimo-R
							width: 100%
							display: block
							padding-left: 60px
							outline: none
							&::-webkit-input-placeholder
								color: #4262d6
							&::-moz-placeholder
								color: #4262d6
							&:-moz-placeholder
								color: #4262d6
							&:-ms-input-placeholder
								color: #4262d6
						&:before
							content: ''
							display: block
							height: 21px
							width: 21px
							background: url(../images/search.svg) no-repeat
							background-size: 100%
							position: absolute
							top: 19px
							left: 19px
					.search-mobi__region
						height: 100%
						position: relative
						input, select
							border-bottom-left-radius: 10px
							border-bottom-right-radius: 10px
							line-height: 60px
							font-size: 18px
							color: #4262d6
							height: 60px
							box-sizing: border-box
							border: 0
							width: 100%
							display: block
							padding-left: 60px
							font-family: $arimo-R
							outline: none
							position: relative
							&::-webkit-input-placeholder
								color: #4262d6
								font-family: $arimo-R
							&::-moz-placeholder
								color: #4262d6
								font-family: $arimo-R
							&:-moz-placeholder
								color: #4262d6
								font-family: $arimo-R
							&:-ms-input-placeholder
								color: #4262d6
								font-family: $arimo-R
						&:before
							content: ''
							display: block
							height: 22px
							width: 17px
							background: url(../images/placeholder.svg) no-repeat
							position: absolute
							top: 20px
							left: 23px
							z-index: 2
				.mobile__date-slide
					display: block
					background-image: linear-gradient(350deg,#6f62ea,#53a0fe 100%,#50ed99)
					position: relative
					margin-bottom: 20px
					.date-slide__caption
						font-size: 20px
						font-family: $arimo-B
						line-height: 1.2
						color: rgba(255, 255, 255, 0.5)
						padding: 14px 20px 12px 20px
						width: 56%
					.date-slide__prev
						width: 50px
						height: 50px
						position: absolute
						top: 0
						right: 50px
						background: url(../images/arrow2.svg) no-repeat
						background-position: 50%
						transform: scale(-1, 1)
						opacity: 0.2
						border-right: 1px solid rgba(255,255,255,0.5)
						box-sizing: border-box
						cursor: pointer
					.date-slide__next
						width: 50px
						height: 50px
						position: absolute
						top: 0
						right: 0
						background: url(../images/arrow2.svg) no-repeat
						background-position: 50%
						border-left: 1px solid rgba(255,255,255,0.5)
						box-sizing: border-box
						cursor: pointer	
				.clinic
					padding: 0 10px
					background: $background
					border-radius: 10px
					position: relative
					&>div
						background: $white
						border-radius: 10px
						display: table
					.logo
						float: left
						padding-left: 9px
						margin-right: 0
						padding-right: 9px
						padding-top: 18px
						width: 62px
						img
							width: 100%
					.info
						width: 100%
						float: none
						box-sizing: border-box
						padding-right: 0
						max-width: none
						position: relative
						.col-9
							padding-top: 19px
							min-height: 166px
						&__specialty
							padding: 6px 0 12px
							padding-right: 10px
						.info__reviews--mobi
							display: block
							padding-top: 8px
							strong
								font-family: $arimo-B
								color: $text-color
						.descr
							padding-top: 11px
							padding-bottom: 9px
						.reviews
							display: none
						.rating
							position: absolute
							top: 80px
							left: 20px
							&__num
								margin-top: 6px
						.contacts
							display: none
					.all-addresses
						.all-addresses__item, .all-addresses__more
							display: none
						.all-addresses__mobile
							display: block
							font-size: 14px
							font-family: $arimo-B
							text-align: center
							line-height: 16px
							border-top: 1px solid #e1e1e1
							padding: 7px
							background-color: #fafbff
							cursor: pointer
					.info__metro--mobile
						display: block
						box-sizing: border-box
						padding-left: 38px
						position: relative
						font-size: 11px
						line-height: 12px
						padding-top: 13px
						//padding-bottom: 3px
						padding-bottom: 2px
						background-color: #fafbff
						&:before
							content: ''
							width: 18px
							height: 18px
							display: block
							background-position: 50%
							background: url(../images/circle-metro.svg) no-repeat
							background-size: 100%
							position: absolute
							left: 10px
							top: 10px
						a
							color: $text-color
							margin-right: 7px
							display: inline-block
							border-bottom: 1px solid transparent
							margin-bottom: 9px
							.color-span
								margin-right: 5px
							.metro__link-text
								&:hover
									border-bottom: 1px solid #334fb4
									color: #334fb4
					.info__address--mobile
						display: block
						box-sizing: border-box
						padding-left: 38px
						position: relative
						font-size: 11px
						line-height: 12px
						padding-top: 13px
						//padding-bottom: 3px
						clear: both
						padding-bottom: 2px
						border-top: 1px solid #e1e1e1
						margin-top: 11px
						background-color: #fafbff
						&:before
							content: ''
							width: 18px
							height: 18px
							display: block
							background-position: 50%
							background: url(../images/circle-placeholder.svg) no-repeat
							background-size: 100%
							position: absolute
							left: 10px
							top: 10px	
					.contacts__button--mobile
						color: $white
						height: 30px
						display: block
						line-height: 32px
						text-align: center
						border-radius: 30px
						letter-spacing: 1px
						font-size: 12px
						text-transform: uppercase
						font-family: $arimo-B
						width: 280px
						margin: 0 auto
						letter-spacing: 0
						margin-top: 10px
						margin-bottom: 10px
				.pagination
					padding-top: 0px
					padding-bottom: 20px
					padding-left: 10px
					padding-right: 10px
					box-sizing: border-box
					margin-top: -4px
	//single doctor
	.h1--body-single-doctor
		left: 70px
		top: 114px
		font-size: 19px
		margin-left: 20px
		max-width: none
	.single-doctors
		.main
			.breadcrumbs
				padding-left: 10px
				padding-bottom: 10px
			.head
				display: none
			.description
				width: 100%;
				box-sizing: border-box
				padding-left: 10px
				padding-right: 10px
				&__doctors-caption
					margin-bottom: 10px
				.doctor 
					.avatar
						padding-left: 10px
						margin-right: 10px
					.info
						width: 100%
						float: none
						padding: 0
						padding-bottom: 19px
						border-radius: 10px
						&__name
							width: 100%
						&__specialty
							width: 100%
							padding: 30px 0 11px
						.info__reviews
							display: none
						&__experience
							float: none
							margin-right: 0
							margin-bottom: 7px
						.rating
							margin-top: -44px
							margin-right: 0
							margin-left: 20px
							&__num
								margin-top: 6px
						.info__reviews--mobi
							display: block
							padding-top: 7px
							strong
								font-family: $arimo-B
								color: $text-color
						.col-7
							width: 70%
						.col-5
							width: 100%
							float: none
							clear: both
							display: table
							.contacts
								display: none
						.descr
							display: none
				.sidebar
					display: none
				.mobile-appointment
					display: block
					background: $white
					padding-bottom: 10px
					border-radius: 10px
					margin-bottom: 20px
					&__title
						font-family: $arimo-B
						font-size: 14px
						line-height: 16px
						padding: 10px
						padding-bottom: 0px
					.mobile-appointment__metro
						display: block
						box-sizing: border-box
						padding-left: 38px
						position: relative
						font-size: 11px
						line-height: 12px
						padding-top: 13px
						padding-bottom: 0
						background-color: $white
						&:before
							content: ''
							width: 18px
							height: 18px
							display: block
							background-position: 50%
							background: url(../images/circle-metro.svg) no-repeat
							background-size: 100%
							position: absolute
							left: 10px
							top: 10px
						a
							color: $text-color
							margin-right: 7px
							display: inline-block
							border-bottom: 1px solid transparent
							margin-bottom: 9px
							.color-span
								margin-right: 5px
							.metro__link-text
								&:hover
									border-bottom: 1px solid #334fb4
									color: #334fb4
					.mobile-appointment__address
						display: block
						box-sizing: border-box
						padding-left: 38px
						position: relative
						font-size: 12px
						line-height: 12px
						padding-top: 13px
						//padding-bottom: 3px
						clear: both
						padding-bottom: 2px
						border-top: 1px solid #e1e1e1
						margin-top: 11px
						background-color: $white
						&:before
							content: ''
							width: 18px
							height: 18px
							display: block
							background-position: 50%
							background: url(../images/circle-placeholder.svg) no-repeat
							background-size: 100%
							position: absolute
							left: 10px
							top: 10px
						a
							color: #334fb4
							border-bottom: 1px solid transparent
							display: table
							&:hover
								border-bottom: 1px solid #334fb4
					.mobile-appointment__date-slide
						display: block
						background: $white
						position: relative
						margin-bottom: 0
						border-bottom: 1px solid #e1e1e1
						border-top: 1px solid #e1e1e1
						box-sizing: border-box
						margin-top: -1px
						.date-slide__caption
							font-size: 18px
							font-family: $arimo-B
							line-height: 1.2
							color: $text-color
							padding: 15px 11px 13px
							width: 56%
						.date-slide__prev
							width: 50px
							height: 50px
							position: absolute
							top: 0
							right: 50px
							background: url(../images/arrow2-black.svg) no-repeat
							background-position: 50%
							transform: scale(-1, 1)
							opacity: 0.2
							border-right: 1px solid rgba(0,0,0,0.5)
							box-sizing: border-box
							cursor: pointer
						.date-slide__next
							width: 50px
							height: 50px
							position: absolute
							top: 0
							right: 0
							background: url(../images/arrow2-black.svg) no-repeat
							background-position: 50%
							border-left: 1px solid rgba(0,0,0,0.1)
							box-sizing: border-box
							cursor: pointer	
					.mobile-appointment__form-time
						display: inline-block
						width: 100%
						padding-top: 40px
						vertical-align: top
						overflow: hidden
						overflow-x: auto
						position: relative
						&>div
							overflow: hidden
							white-space: nowrap
							text-align: center
							position: absolute
							height: 40px
							top: 0
							left: 0
						input
							display: none
						label
							display: inline-block
							vertical-align: top
							//float: left
							box-sizing: border-box
							width: 59px
							height: 32px
							line-height: 32px
							text-align: center
							font-family: $arimo-B
							font-size: 14px
							border: solid 1px #e1e1e1
							border-radius: 4px
							margin: 8px 0px 0px 8px
							cursor: pointer
							&:hover
								background: #334fb4
								color: $white
							&.label--disabled
								cursor: auto
								background: #f5f5f5 !important
								color: $text-color-light !important
					.mobile-appointment__button
						color: $white
						height: 30px
						display: block
						line-height: 32px
						text-align: center
						border-radius: 30px
						font-size: 12px
						text-transform: uppercase
						font-family: $arimo-B
						width: 280px
						margin: 10px auto
						letter-spacing: 0
						margin-bottom: 0
				.rating-stars
					padding: 10px
					padding-bottom: 3px
					&__title
						font-size: 12px
						width: 50%
						float: left
					.btn
						width: 117px
						height: 30px
						border-radius: 50px
						overflow: hidden
						margin-top: 0
						line-height: 30px
						font-size: 15px
						float: right
						svg
							margin-top: 7px
							margin-left: 17px
							margin-right: 5px
							width: 14px
							height: 16px
						span
							font-size: 15px
					.qualification, .price, .attention
						margin-left: 0px 
						margin-top: 10px
					.attention
						margin-left: 17px
					.price
						margin-left: 17px
					fieldset
						label
							&:before
								font-size: 10px !important
								margin: 5px 6px 5px 0 !important
				.tabs
					padding-top: 0
					.caption
						margin-top: 0
						.caption__tab
							display: none
						.caption__title
							padding: 10px
						.caption__btn
							margin-top: 0
							margin-right: 0
							height: 36px
							line-height: 36px
							border-radius: 0
							border-top-right-radius: 10px
					.review
						padding-bottom: 6px
						&__like
							height: 20px
							width: 20px
							line-height: 18px
							margin-left: 10px
							margin-top: 10px
							margin-right: 5px
							float: left
							svg
								width: 10.4px
								height: 12px
						.content
							width: 100%
							float: none
							&__title
								padding-top: 14px
								font-size: 12px
								letter-spacing: 0.5px
								padding-bottom: 2px
							&__descr
								padding-left: 10px
								float: none
								clear: both
								padding-top: 5px
								padding-right: 10px
								line-height: 18px
							.qualification
								padding-left: 10px
							.attention
								margin-left: 20px
							.price
								margin-left: 14px
							fieldset
								label
									&:before
										font-size: 10px !important
										margin: 5px 6px 5px 0 !important
				.details
					padding: 10px
					&__title
						padding: 0 0px 11px
						margin-top: 0px
						margin-bottom: 0
						padding-left: 10px
						margin-left: -10px
						margin-right: -10px
					&__caption
						padding: 11px 0px
					ul
						padding: 0
					p
						padding-right: 0
						padding-left: 0
				.more-doctors
					display: none
	//single clinic
	.h1--body-single-clinic
		margin-left: 20px
		top: 103px
		font-size: 18px
		left: 0
		max-width: 74%
	.single-clinics
		.main
			.breadcrumbs
				padding-left: 10px
				padding-bottom: 10px
			.head
				display: none
			.description
				width: 100%;
				box-sizing: border-box
				padding-left: 10px
				padding-right: 10px
				&__doctors-caption
					margin-bottom: 10px
				.clinic
					padding: 10px
					padding-left: 0
					padding-right: 0
					.info
						&__specialty
							padding-top: 0
							padding-bottom: 10px
							padding-left: 10px
						&__mobile
							display: block
						.descr
							padding-left: 10px
							padding-top: 6px
							margin-bottom: 0
							padding-bottom: 10px
						.rating
							float: right
							margin-top: 1px
							margin-right: 10px
						.reviews
							margin-right: 10px
							margin-top: 1px
							display: none
					.content
						&__descr
							padding-left: 10px
							padding-right: 10px
							line-height: 18px
					.content__slider
						max-width: 300px
						height: 200px
						padding-left: 0
						padding-right: 0
						margin: 0 auto
						margin-bottom: 11px
						.glide__arrows
							width: 100%
							margin-left: 0
						.glide__arrow
							margin-top: -12px
							&.prev
								left: 8px
							&.next
								right: 8px
						li
							img
								//max-width: 100%
				.rating-stars
					display: none
				.doctor 
					.avatar
						padding-left: 10px
						margin-right: 10px
					.info
						width: 100%
						float: none
						padding: 0
						padding-bottom: 10px
						&__name
							width: 100%
						&__specialty
							width: 100%
						.info__reviews
							display: none
						&__experience
							float: none
							margin-right: 0
							margin-bottom: 7px
						.rating
							margin-top: -58px
							margin-right: 0
							margin-left: 20px
							&__num
								margin-top: 6px
						.info__reviews--mobi
							display: block
							padding-top: 7px
							strong
								font-family: $arimo-B
								color: $text-color
						.col-7
							width: 70%
						.col-5
							width: 100%
							float: none
							clear: both
							display: table
							.contacts
								width: 100%
								&__text, &__tel
									display: none
								&__button
									width: 280px
									margin: 0 auto
									letter-spacing: 0
						.descr
							display: none
						.info__metro--mobile
							display: block
							box-sizing: border-box
							padding-left: 38px
							position: relative
							font-size: 11px
							line-height: 12px
							padding-top: 13px
							//padding-bottom: 3px
							padding-bottom: 2px
							border-bottom: 1px solid #e1e1e1
							border-top: 1px solid #e1e1e1
							margin-top: 11px
							margin-bottom: 10px
							&:before
								content: ''
								width: 18px
								height: 18px
								display: block
								background-position: 50%
								background: url(../images/circle-metro.svg) no-repeat
								background-size: 100%
								position: absolute
								left: 10px
								top: 10px
							a
								color: $text-color
								margin-right: 7px
								display: inline-block
								border-bottom: 1px solid transparent
								margin-bottom: 9px
								.color-span
									margin-right: 5px
								.metro__link-text
									&:hover
										border-bottom: 1px solid #334fb4
										color: #334fb4
					.all-addresses
						display: none
				.licenses
					display: none
					&__caption
						padding: 10px 10px 9px
					&__link
						width: 120px
						height: auto
						margin: 0 0px 20px 20px
					&__more
						display: none
				.licenses--mobile
					display: block
					.glide__arrows
						top: 50%
						width: 94%
						margin-left: 3%
						.glide__arrow
							margin-top: 6px
					.glide__wrapper
						width: 300px
						margin: 0 auto
						.glide__slide
							
				.tabs
					padding: 10px 0
					.caption
						&__title
							padding: 10px
						&__tab
							display: none
					.review
						padding-bottom: 6px
						&__like
							height: 20px
							width: 20px
							line-height: 16px
							margin-left: 10px
							margin-top: 10px
							margin-right: 5px
							float: left
							svg
								width: 10.4px
								height: 12px
						.content
							width: 100%
							float: none
							&__title
								padding-top: 14px
								font-size: 12px
								letter-spacing: 0.5px
							.title__doctor
								float: left
								display: block
								margin-top: 5px
								width: 100%
								padding-left: 10px
								padding-right: 10px
								box-sizing: border-box
								a
									letter-spacing: -0.1px
							&__descr
								padding-left: 10px
								float: none
								clear: both
								padding-top: 5px
								padding-right: 10px
								line-height: 18px
							.qualification
								padding-left: 10px
								fieldset
									label
										&:before
											font-size: 10px !important
											margin: 5px 6px 5px 0 !important
				.sidebar__map-container
					display: none
				.sidebar
					.address
						padding: 9px 10px 0px
					.prices, .prices:nth-last-of-type(1)
						height: auto
						padding-top: 10px
						border-top-left-radius: 4px
						border-top-left-radius: 4px
						.prices__title
							padding-top: 0
							font-family: $arimo-B
							padding-bottom: 10px
							border-top-left-radius: 4px
							border-top-left-radius: 4px





					.mobile__rating-stars
						display: table
						padding: 10px 8px
						padding-bottom: 3px
						max-width: 300px
						margin: 0 auto
						.rating-stars__title
							font-size: 13px
							width: 50%
							margin-top: -2px
							line-height: 14px
							float: left
						.rating-stars__btn
							width: 117px
							height: 30px
							line-height: 30px
							margin-top: -3px
							float: right
							margin-bottom: 13px
							svg
								margin-top: 7px
								margin-left: 17px
								margin-right: 5px
								width: 14px
								height: 16px
							span
								font-size: 15px
						.rating-stars__qualification
							margin-left: 0px
							margin-top: 13px
							fieldset
								label
									&:before
										font-size: 10px !important
										margin: 5px 6px 5px 0 !important
						.rating-stars__go-to-reviews
							margin-top: 30px
							margin-right: 0px




					&__address-caption--mobi
						display: block
						font-family: $arimo-B
						font-size: 14px
						line-height: 16px
						padding: 9px 10px
						background: $white
						border-top-left-radius: 4px
						border-top-left-radius: 4px
						border-bottom: 1px solid #e1e1e1
	.single-clinics .main .description .sidebar__map-container+div
		width: 100%
		height: auto
	//appointment form (clinic)
	.popup-content
		.app-clinic
			width: 100%
			&__title
				font-size: 16px
				padding: 1px 10px 8px
				border-bottom: 1px solid #e1e1e1
			.form
				.tabs
					padding-top: 13px
					&__title
						margin-bottom: -26px
					&__caption
						label
							width: 30px
							height: 30px
							line-height: 30px
							font-size: 14px
							font-family: $arimo-B
							color: $text-color-light
							&.active
								color: $text-color
					.content
						padding-top: 0
						padding-left: 28px
						padding-bottom: 3px
						.map
							margin-bottom: 13px
							&__info
								display: inline
				.service
					padding-left: 10px
					padding-bottom: 9px
					&__caption
						padding: 0px 0 4px
					&__name
						line-height: 18px
						font-size: 14px
				.text-inputs
					padding: 10px
					input[type="text"], input[type="tel"]
						width: 100%
						margin-bottom: 10px
						margin-left: 0
					.text-inputs--reverse
						display: table
						border-collapse: collapse
						border-spacing: 0
						width: 100%
						.patient
							display: table-footer-group
							padding-top: 20px
							margin-left: 0
							label
								margin-top: 11px
						.text-inputs__message
							display: table-header-group
				.contacts
					margin-left: 0
					margin-top: 10px
					width: 100%
					box-sizing: border-box
					padding-left: 51px
					padding-bottom: 11px
					border-bottom: 1px solid #e1e1e1
					float: none
					&:before
						left: 10px
				&__submit
					margin: 10px auto
					float: none
					width: 280px
					letter-spacing: 0
	//appoiment form (doctor)
	.popup-content
		.appointment
			width: 100%
			&__title
				font-size: 16px
				padding: 1px 10px 8px
				border-bottom: 1px solid #e1e1e1
			.doctor
				padding-top: 0
				.avatar
					padding-left: 10px
					margin-right: 10px
					.avatar__rating
						display: block
						margin-top: 11px
						margin-left: 10px
						.rating__caption
							font-size: 11px
						.rating__num
							font-family: $arimo-B
							font-size: 30px
							line-height: 30px
							color: #d42131
							margin-top: 6px

				.info
					width: 100%
					float: none
					padding: 0
					padding-bottom: 19px
					border-radius: 10px
					&__name
						width: 100%
					&__specialty
						width: 100%
						padding: 10px 0 11px
					.info__reviews
						display: none
					&__experience
						float: none
						margin-right: 0
						margin-bottom: 7px
					.rating
						margin-top: -44px
						margin-right: 0
						margin-left: 20px
						&__num
							margin-top: 6px
					.info__experience--mobi
						display: block
						padding-bottom: 7px
						strong
							font-family: $arimo-B
							color: $text-color						
					.info__reviews--mobi
						display: block
						padding-top: 7px
						padding-bottom: 7px
						strong
							font-family: $arimo-B
							color: $text-color
					.col-7
						width: 70%
					.col-5
						display: none



			.form
				padding-left: 0
				.tabs
					padding-top: 17px
					&__title
						margin-bottom: -23px
						margin-left: 10px
					&__caption
						padding-left: 93px
						label
							width: 30px
							height: 30px
							line-height: 30px
							font-size: 14px
							font-family: $arimo-B
							color: $text-color-light
							&.active
								color: $text-color
					.content
						padding-top: 0
						padding-left: 28px
						padding-bottom: 0px
						.map
							margin-bottom: 13px
							&__info
								display: inline
				.date
					padding-left: 0
					padding-bottom: 0
					border-bottom: 0
					margin-bottom: 10px
					&__caption
						padding-top: 0
						padding-left: 10px
						padding-bottom: 8px
					.selectize-control
						width: 251px
						height: 50px
						.selectize-input
							border-radius: 0
							padding: 16px 35px 13px 10px
							height: 50px
							&:after
								top: 24px
								right: 10px
					label[for="datepicker"]
						margin-left: -1px
						width: 50px
						height: 50px
						line-height: 50px
						border-radius: 0
						&:before
							top: 14px
							left: 14px
						span
							display: none
				.form__time
					padding: 0
					padding-top: 40px
					display: inline-block
					width: 100%
					vertical-align: top
					overflow: hidden
					overflow-x: auto
					position: relative
					&>div
						overflow: hidden
						white-space: nowrap
						text-align: center
						position: absolute
						height: 40px
						top: 0
						left: 0
					label
						float: none
				.form__btn-next
					width: 280px
					margin: 10px auto
					float: none
					letter-spacing: 0
				.cheched-time
					padding-top: 4px
					padding-left: 28px
					padding-bottom: 11px
				.text-inputs
					padding: 10px
					input[type="text"], input[type="tel"]
						float: none
						width: 100%
						margin-left: 0
					input[type="tel"]
						margin-top: 10px
				.form__submit
					margin: 0 auto
					float: none
					margin-top: 10px
					margin-bottom: 10px
					width: 280px
					letter-spacing: 0
				.form__change
					margin: 10px auto
					float: none
					width: 280px
					letter-spacing: 0
	//review form
	.popup-content
		.popup__review
			padding-top: 10px
			.review__title
				font-size: 16px
				padding: 0 10px
				margin-bottom: 7px
			.review__descr
				padding: 0 10px 10px
			.doctor
				padding-top: 10px
				padding-bottom: 4px
				.avatar
					padding-left: 10px
					margin-right: 10px
					.avatar__rating
						display: block
						margin-top: 11px
						margin-left: 10px
						.rating__caption
							font-size: 11px
						.rating__num
							font-family: $arimo-B
							font-size: 30px
							line-height: 30px
							color: #d42131
							margin-top: 6px
				.info
					width: 100%
					float: none
					padding: 0
					padding-bottom: 19px
					border-radius: 10px
					&__name
						width: 100%
					&__specialty
						width: 100%
						padding: 10px 0 11px
					.info__reviews
						display: none
					&__experience
						float: none
						margin-right: 0
						margin-bottom: 7px
					.rating
						margin-top: -44px
						margin-right: 0
						margin-left: 20px
						&__num
							margin-top: 6px
					.info__experience--mobi
						display: block
						padding-bottom: 7px
						strong
							font-family: $arimo-B
							color: $text-color						
					.info__reviews--mobi
						display: block
						padding-top: 7px
						padding-bottom: 7px
						strong
							font-family: $arimo-B
							color: $text-color
					.col-7
						width: 70%
					.col-5
						display: none
			.form
				.stars
					.qualification, .attention, .price,.clinic
						margin: 0
						padding: 19px 0 13px 16px
						width: 100%
						box-sizing: border-box
						border-bottom: 1px solid #e1e1e1
						position: relative
						&:after
							content: ''
							display: block
							position: absolute
							top: 24px
							right: 11px
							margin-top: -2px
							width: 0
							height: 0
							border-style: solid
							border-width: 5px 5px 0
							border-color: grey transparent transparent
						&__caption
							font-size: 15px
							float: left
						fieldset
							float: right
							margin-right: 35px
							margin-top: -5px
							label
								&:before
									font-size: 10px !important
									margin: 5px 6px 5px 0 !important
				.recommendation
					margin: 0
					padding: 19px 0 5px 16px
					width: 100%
					box-sizing: border-box
					border-bottom: 1px solid #e1e1e1
					position: relative
					&__title
						font-size: 15px
						float: left
					.toggle-status
						display: block
						float: right
						margin-right: 11px
						margin-top: -2px
						span
							color: #b8b8b8
							font-size: 15px
							display: none
						.active
							display: block
					.toggle-bg
						display: block
						float: right
						margin-right: 10px
						margin-top: 3px
						position: relative
						width: 40px
						height: 4px
						border-radius: 4px
						background-color: #e1e1e1
						label
							display: none
						input
							display: block
							height: 28px
							left: 0
							margin: 0
							opacity: 0
							padding: 0
							position: absolute
							top: -10px
							width: 36px
							z-index: 2
						.switch
							display: block
							float: left
							left: -1px
							position: relative
							top: -8px
							z-index: 1
							box-sizing: border-box
							width: 20px
							height: 20px
							border-radius: 50%
							background-color: $white
							border: solid 2px #b8b8b8
					.toggle-bg input:checked~.switch
						left: 0px
					.toggle-bg input~:checked~.switch
						left: 26px
					.toggle-bg input:checked
						z-index: 0
				.text-inputs
					padding: 10px
					padding-bottom: 20px
					border-top: 0
					textarea
						margin-bottom: 10px
					input[type='text'], input[type='tel']
						width: 100%
						margin-left: 0
					input[type='tel']
						margin-top: 10px
				input[type='submit']
					margin: 10px auto
					width: 280px
					float: none
					letter-spacing: 0
				.form__clear
					margin: 10px auto
					float: none
					width: 280px
					letter-spacing: 0

	//search region
	.popup-content
		.search-region
			min-width: auto
			.tabs
				.caption--mobile
					display: inline
				.caption--pc
					display: none
				.content
					.regions, .metro
						max-height: 527px
						position: relative
						.lists
							font-size: 14px
							padding: 20px 0 19px 20px
							&__list
								width: 100%
								label
									margin-bottom: 0px
									line-height: 19px
						.labels-container
							width: 60%
							label
								display: none
						&__btn
							margin-right: 5px
							margin-top: 10px
							margin-bottom: 10px
					.cities
						max-height: 527px
						position: relative
						.cities__list
							font-size: 14px
							width: 100%
							padding-bottom: 0
							label
								margin-bottom: 0px
								line-height: 19px
								margin-top: 9px
						.labels-container
							width: 60%
							label
								display: none
						&__btn
							margin-right: 5px
							margin-top: 10px
							margin-bottom: 10px
	//search doctor
	.popup-content
		.search-doctor
			min-width: auto
			.all
				padding-bottom: 0
				.all__list
					width: 100%
					padding-bottom: 0
					font-size: 14px
					line-height: 19px
				.all__btn
					margin-top: 10px
					margin-bottom: 10px
					margin-right: 10px
	//all doctors page
	.wrapper--all-doctors
		height: 100%
		.container-fluid
	.all-doctors
		.main
			background: $white
			box-sizing: border-box
			padding-left: 10px
			&__title
				font-size: 24px
				line-height: 42px
			#main-clinics .main__title
				font-size: 24px
				line-height: 42px			
			&>div
				span
					width: 100%
					box-sizing: border-box
					padding-right: 20px
			.main__search
				display: none
			.main__city
				display: block
				position: relative
				margin-left: -10px
				margin-bottom: 20px
				&:before
					content: ''
					height: 20px
					width: 20px
					background: url(../images/city-gray.svg) no-repeat
					background-size: 100%
					position: absolute
					left: 20px
					top: 20px
					z-index: 2
				&:after
					content: ''
					display: block
					position: absolute
					top: 28px
					right: 20px
					width: 0
					height: 0
					border-style: solid
					border-width: 5px 5px 0
					border-color: grey transparent transparent
				select
					position: relative
					border: none
					background: transparent
					font-size: 18px
					color: #9b9b9b
					width: 100%
					padding-left: 60px
					height: 60px
					background-position: 84% center
					outline: none
					cursor: pointer
					box-sizing: border-box
					border-bottom: 1px solid #e1e1e1
					border-top: 1px solid #e1e1e1

					option
						background-color: $white
			.search-mobi
				box-sizing: border-box
				margin: 0 auto
				background-color: $white
				&__doctor
					position: relative
					height: 59px
					border-bottom: 1px solid #e1e1e1
					box-sizing: border-box
					input
						line-height: 60px
						font-size: 18px
						color: $text-color
						height: 100%
						box-sizing: border-box
						border: 0
						width: 100%
						display: block
						padding-left: 60px
						outline: none
						&::-webkit-input-placeholder
							color: #9b9b9b
						&::-moz-placeholder
							color: #9b9b9b
						&:-moz-placeholder
							color: #9b9b9b
						&:-ms-input-placeholder
							color: #9b9b9b
					&:before
						content: ''
						display: block
						height: 21px
						width: 21px
						background: url(../images/search.svg) no-repeat
						background-size: 100%
						position: absolute
						top: 18px
						left: 19px
				&__region
					height: 100%
					position: relative
					input, select
						line-height: 60px
						font-size: 18px
						color: #9b9b9b
						height: 60px
						box-sizing: border-box
						border: 0
						width: 100%
						display: block
						padding-left: 60px
						outline: none
						position: relative
						&::-webkit-input-placeholder
							color: #9b9b9b
							font-family: $arimo-R
						&::-moz-placeholder
							color: #9b9b9b
							font-family: $arimo-R
						&:-moz-placeholder
							color: #9b9b9b
							font-family: $arimo-R
						&:-ms-input-placeholder
							color: #9b9b9b
							font-family: $arimo-R
					&:before
						content: ''
						display: block
						height: 22px
						width: 17px
						background: url(../images/placeholder.svg) no-repeat
						position: absolute
						top: 19px
						left: 23px
						z-index: 2
				&__button
					width: 100%
					height: 60px
					box-shadow: 0 2px 9px 0 rgba(212, 33, 55, 0.46)
					border: 0
					font-size: 24px
					letter-spacing: 1px
					color: $white
					cursor: pointer
					outline: none
					display: block
					text-transform: uppercase
					background-image: linear-gradient(166deg, #ff4b81, #d42131)
					&:hover
						background-image: linear-gradient(166deg, #ff4b81, #d42131)
						box-shadow: 0 6px 24px 0 rgba(212, 33, 55, 0.46) !important
					&:active, &:focus
						background-image: linear-gradient(166deg, #ae3257, #d11627)
						box-shadow: 0 6px 24px 0 rgba(212, 33, 55, 0.46) !important

@media only screen and (max-width: 400px)
	.fancybox-wrap, .fancybox-inner
		width: 100% !important
	.fancybox-wrap
		width: 94% !important
		left: 3% !important
