.wrapper--all-doctors
	display: table
	width: 100%
	background: $background
	height: 100% !important
	.container-fluid
		display: table-cell
		//vertical-align: middle
		border: 30px solid $background
		background: $white
		border-radius: 45px
		padding-bottom: 95px
.all-doctors
	margin: 0 auto
	min-height: 0
	max-height: 900px
	.header
		display: table
		width: 100%
		background: $white
		position: fixed
		z-index: 99
		left: 0
		top: 0
		box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1)
		height: 50px
		.col-12
			width: 100%
			max-width: 1280px
			margin: 0 auto
			float: none
		&__logo-min
			margin-left: 30px
			margin-top: 10px
			float: left
			color: inherit
			margin-right: 10px
			img, svg
				height: 30px
				width: 30px
				margin-right: 10px
				float: left
			span
				display: block
				float: left
				font-size: 12px
				width: 134px
				letter-spacing: -0.1px
				line-height: 15px
				margin-top: 1px
		&__link
			font-size: 16px
			color: $text-color
			border-bottom: 2px solid transparent
			line-height: 24px
			margin-top: 14px
			display: block
			float: left
			margin-left: 40px
			margin-right: 4px
			padding-bottom: 10px
			cursor: pointer
			&.header__link--active
				border-bottom: 2px solid #334fb4
		.link-1
		.link-2
		.contacts
			position: relative
			float: right
			padding-top: 10px
			margin-right: 220px
			&__descr
				font-size: 10px
				color: $text-color-light
				margin-bottom: 5px
			&__tel
				font-size: 13px
				font-weight: bold
				color: $text-color
			&:after
				content: ''
				display: block
				height: 30px
				width: 30px
				background: url(../images/phone.svg) no-repeat
				background-size: 100%
				position: absolute
				right: -40px
				top: 10px
			&:before
				content: ''
				display: block
				width: 1px
				height: 50px
				background-color: #e1e1e1
				position: absolute
				top: 0
				right: -60px
		&__city
			float: right
			margin-top: 0px
			margin-right: 22px
			width: 206px
			position: relative
			select
				position: relative
				border: none
				background: transparent
				font-size: 14px
				color: $text-color
				width: 100%
				padding-left: 39px
				height: 50px
				background-position: 84% center
				outline: none
				cursor: pointer
				option
					background-color: $white
			&:before
				content: ''
				height: 20px
				width: 20px
				background: url(../images/city.svg) no-repeat
				background-size: 100%
				position: absolute
				left: 20px
				top: 14px
				z-index: 2
	.main
		padding-top: 21px
		padding-bottom: 0
		.main__city
			display: none
		&>div
			display: none
			&.main--active
				display: block
		&__title
			font-size: 36px
			line-height: 42px
			margin: 0
			width: 100%
			margin-top: 99px
			margin-bottom: 55px
		div
			span
				font-size: 18px
				line-height: 21.5px
				margin: 0
				margin-right: 2.5%
				width: 22.6%
				margin-bottom: 20px
				display: inline-block
				vertical-align: top
				a
					color: inherit
					position: relative
					border-bottom: 1px solid transparent
					padding-bottom: 2px
					&:hover
						color: #334fb4
						border-bottom: 1px solid #334fb4
					sup
						font-size: 12px
						color: #9b9b9b
						margin-top: -2px
						display: inline-block
						position: absolute
						margin-top: -2px
						margin-left: 6px
				&:nth-of-type(4n)
					margin-right: 0
	#main-clinics
		padding-top: 21px
		padding-bottom: 0
		.main__title
			font-size: 36px
			line-height: 42px
			width: 100%
			margin: 78px 0 44px
		div
			span
				font-size: 18px
				line-height: 21.5px
				margin: 0
				margin-right: 2.5%
				width: 22.6%
				margin-bottom: 20px
				display: inline-block
				vertical-align: top
				a
					color: inherit
					position: relative
					border-bottom: 1px solid transparent
					padding-bottom: 2px
					&:hover
						color: #334fb4
						border-bottom: 1px solid #334fb4
					sup
						font-size: 12px
						color: #9b9b9b
						margin-top: -2px
						display: inline-block
						position: absolute
						margin-top: -2px
						margin-left: 6px
				&:nth-of-type(4n)
					margin-right: 0
					letter-spacing: -0.5px
					padding-bottom: 90px
		.search
			max-width: 960px
			width: 100%
			box-sizing: border-box
			margin: 0 auto
			height: 60px
			border-radius: 60px
			background-color: $white
			box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.15), 0 1px 9px 0 rgba(0, 0, 0, 0.15)
			margin-top: 55px
			clear: both
			+transition(0.2s ease-in-out)
			&:hover
				box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.18)
			&__doctor
				position: relative
				height: 100%
				float: left
				input
					line-height: 60px
					font-size: 18px
					color: $text-color
					height: 100%
					box-sizing: border-box
					border: 0
					border-radius: 60px
					border-top-right-radius: 0
					border-bottom-right-radius: 0
					width: 431px
					display: block
					padding-left: 60px
					outline: none
					&::-webkit-input-placeholder
						color: #9b9b9b
					&::-moz-placeholder
						color: #9b9b9b
					&:-moz-placeholder
						color: #9b9b9b
					&:-ms-input-placeholder
						color: #9b9b9b
				&:before
					content: ''
					display: block
					height: 30px
					width: 30px
					background: url(../images/search.svg) no-repeat
					position: absolute
					top: 14px
					left: 19px
			&__region
				height: 100%
				position: relative
				float: left
				input, select
					line-height: 60px !important
					font-size: 18px
					color: $text-color
					height: 60px !important
					box-sizing: border-box
					border: 0
					width: 304px
					display: block
					padding-left: 60px
					outline: none
					position: relative
					font-family: $arimo-R
					&::-webkit-input-placeholder
						color: #9b9b9b
						font-family: $arimo-R
					&::-moz-placeholder
						color: #9b9b9b
						font-family: $arimo-R
					&:-moz-placeholder
						color: #9b9b9b
						font-family: $arimo-R
					&:-ms-input-placeholder
						color: #9b9b9b
						font-family: $arimo-R
				&:before
					content: ''
					display: block
					height: 22px
					width: 17px
					background: url(../images/placeholder.svg) no-repeat
					position: absolute
					top: 19px
					left: 34px
					z-index: 2
			&__button
				width: 225px
				height: 60px
				border-radius: 60px
				box-shadow: 0 2px 9px 0 rgba(212, 33, 55, 0.46)
				border: 0
				border-top-left-radius: 0
				border-bottom-left-radius: 0
				font-size: 24px
				letter-spacing: 1px
				color: $white
				cursor: pointer
				outline: none
				display: block
				float: left
				text-transform: uppercase
				background-image: linear-gradient(166deg, #ff4b81, #d42131)
				&:hover
					background-image: linear-gradient(166deg, #ff4b81, #d42131)
					box-shadow: 0 6px 24px 0 rgba(212, 33, 55, 0.46) !important
				&:active, &:focus
					background-image: linear-gradient(166deg, #ae3257, #d11627)
					box-shadow: 0 6px 24px 0 rgba(212, 33, 55, 0.46) !important
.all-doctors__header
	.selectize-control
		height: 50px
	.selectize-input
		border-left: 1px solid #e1e1e1 !important
		border-right: 1px solid #e1e1e1 !important
		padding: 16px 29px 16px 48px
	.selectize-control.single .selectize-input:after
		right: 17px
		margin-top: -3px
	.dropdown-active
		border-left: 1px solid transparent !important
		border-right: 1px solid transparent !important