.wrapper--home
	display: table
	width: 100%
	.container-fluid
		display: table-cell
		vertical-align: middle
		background: $background
.home
	background: $background
	box-sizing: border-box
	max-width: 1280px
	border: 30px solid $background
	margin: 0 auto
	min-height: 0
	max-height: 900px
	.header
		display: table
		width: 100%
		background: $white
		border-top-left-radius: 10px
		border-top-right-radius: 10px
		.logo
			display: table
			margin-left: 130px
			margin-top: 70px
			float: left
			svg
				width: 78px
				height: 78px
				display: table
				float: left
				margin-right: 11px
			.around
				float: left
				&__title
					margin-top: 16px
					margin-bottom: 12px
					svg
						width: 256px
						height: 23px
						float: none
				&__descr
					font-size: 12px
					letter-spacing: -0.1px
					display: block
		.contacts
			position: relative
			float: right
			margin-top: 70px
			&__descr
				font-size: 10px
				color: $text-color-light
				margin-bottom: 5px
			&__tel
				font-size: 13px
				font-weight: bold
				color: $text-color
			&:after
				content: ''
				display: block
				height: 30px
				width: 30px
				background: url(../images/phone.svg) no-repeat
				background-size: 100%
				position: absolute
				right: -40px
				top: 0
		&__city
			float: right
			margin-top: 55px
			margin-right: 99px
			margin-left: 71px
			width: 206px
			position: relative
			select
				position: relative
				border: none
				background: transparent
				font-size: 14px
				color: $text-color
				width: 100%
				padding-left: 39px
				height: 50px
				background-position: 84% center
				outline: none
				cursor: pointer
				option
					background-color: $white
			&:before
				content: ''
				height: 20px
				width: 20px
				background: url(../images/city.svg) no-repeat
				background-size: 100%
				position: absolute
				left: 9px
				top: 15px
				z-index: 2
	.main
		background: $white
		clear: both
		padding-top: 55px
		padding-bottom: 0
		display: table
		width: 100%
		&__title
			width: 100%
			max-width: 960px
			margin: 86px auto 113px auto
			font-size: 48px
			color: $text-color
			line-height: 52px
		.main__city, .main__contacts, .mobile-doctors, .mobile-clinics
			display: none
		.search
			max-width: 960px
			width: 100%
			box-sizing: border-box
			margin: 0 auto
			height: 60px
			border-radius: 60px
			background-color: $white
			box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.15), 0 1px 9px 0 rgba(0, 0, 0, 0.15)
			margin-bottom: 100px
			+transition(0.2s ease-in-out)
			&:hover
				box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.18)
			&__doctor
				position: relative
				height: 100%
				float: left
				input
					line-height: 60px
					font-size: 18px
					color: $text-color
					height: 100%
					box-sizing: border-box
					border: 0
					border-radius: 60px
					border-top-right-radius: 0
					border-bottom-right-radius: 0
					width: 431px
					display: block
					padding-left: 60px
					outline: none
					&::-webkit-input-placeholder
						color: #9b9b9b
					&::-moz-placeholder
						color: #9b9b9b
					&:-moz-placeholder
						color: #9b9b9b
					&:-ms-input-placeholder
						color: #9b9b9b
				&:before
					content: ''
					display: block
					height: 30px
					width: 30px
					background: url(../images/search.svg) no-repeat
					position: absolute
					top: 14px
					left: 19px
			&__region
				height: 100%
				position: relative
				float: left
				input, select
					line-height: 60px !important
					font-size: 18px
					color: $text-color
					height: 60px !important
					box-sizing: border-box
					border: 0
					width: 304px
					display: block
					padding-left: 60px
					outline: none
					position: relative
					font-family: $arimo-R
					&::-webkit-input-placeholder
						color: #9b9b9b
						font-family: $arimo-R
					&::-moz-placeholder
						color: #9b9b9b
						font-family: $arimo-R
					&:-moz-placeholder
						color: #9b9b9b
						font-family: $arimo-R
					&:-ms-input-placeholder
						color: #9b9b9b
						font-family: $arimo-R
				&:before
					content: ''
					display: block
					height: 22px
					width: 17px
					background: url(../images/placeholder.svg) no-repeat
					position: absolute
					top: 19px
					left: 34px
					z-index: 2
			&__button
				width: 225px
				height: 60px
				border-radius: 60px
				box-shadow: 0 2px 9px 0 rgba(212, 33, 55, 0.46)
				border: 0
				border-top-left-radius: 0
				border-bottom-left-radius: 0
				font-size: 24px
				letter-spacing: 1px
				color: $white
				cursor: pointer
				outline: none
				display: block
				float: left
				text-transform: uppercase
				background-image: linear-gradient(166deg, #ff4b81, #d42131)
				&:hover
					background-image: linear-gradient(166deg, #ff4b81, #d42131)
					box-shadow: 0 6px 24px 0 rgba(212, 33, 55, 0.46) !important
				&:active, &:focus
					background-image: linear-gradient(166deg, #ae3257, #d11627)
					box-shadow: 0 6px 24px 0 rgba(212, 33, 55, 0.46) !important
	&__footer
		width: 100%
		display: table
		box-sizing: border-box
		padding: 0 130px
		margin-left: auto
		margin-right: auto
		margin-top: 0
		padding-top: 51px
		background: $white
		padding-bottom: 81px
		border-bottom-left-radius: 10px
		border-bottom-right-radius: 10px
		a
			line-height: 22px
			font-size: 20px
			color: $text-color
			position: relative
			margin-right: 55px
			&:before
				content: ''
				width: 30px
				height: 2px
				background-color: #334fb4
				position: absolute
				bottom: -13px
				left: 0
