.wrapper--result-doctors
	display: table
	width: 100%
	background: $background
.result-doctors
	display: table-cell
	//vertical-align: middle
	//border: 30px solid $background
	background: $background
	//border-radius: 45px

	width: 100%
	margin: 0 auto
	min-height: 0
	max-height: 900px
	.header
		display: table
		width: 100%
		background: $white
		position: fixed
		z-index: 99
		left: 0
		top: 0
		box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1)
		height: 50px
		.col-12
			width: 100%
			max-width: 960px
			display: table
			margin: 0 auto
			float: none
		&__logo-min
			margin-left: 0
			margin-top: 10px
			float: left
			color: inherit
			margin-right: 10px
			img, svg
				height: 30px
				width: 30px
				margin-right: 10px
				float: left
			span
				display: block
				float: left
				font-size: 12px
				width: 134px
				letter-spacing: -0.1px
				line-height: 15px
				margin-top: 1px
		.contacts
			position: relative
			float: right
			padding-top: 10px
			margin-right: 60px
			&__descr
				font-size: 10px
				color: $text-color-light
				margin-bottom: 5px
			&__tel
				font-size: 13px
				font-weight: bold
				color: $text-color
			&:after
				content: ''
				display: block
				height: 30px
				width: 30px
				background: url(../images/phone.svg) no-repeat
				background-size: 100%
				position: absolute
				right: -40px
				top: 10px
			&:before
				content: ''
				display: block
				width: 1px
				height: 50px
				background-color: #e1e1e1
				position: absolute
				top: 0
				right: -60px
		&__city
			float: right
			margin-top: 0px
			margin-right: 22px
			width: 206px
			position: relative
			select
				position: relative
				border: none
				background: transparent
				font-size: 14px
				color: $text-color
				width: 100%
				padding-left: 39px
				height: 50px
				background-position: 84% center
				outline: none
				cursor: pointer
				option
					background-color: $white
			&:before
				content: ''
				height: 20px
				width: 20px
				background: url(../images/city.svg) no-repeat
				background-size: 100%
				position: absolute
				left: 20px
				top: 14px
				z-index: 2
	.main
		padding-top: 50px
		padding-bottom: 0
		position: relative
		background: $white
		.head
			display: table
			width: 100%
			padding-bottom: 25px
			.col-9
				position: relative
				margin: 0
			&__title
				font-size: 24px
				font-family: $arimo-B
				line-height: 30px
				padding-bottom: 14px
				position: relative
				z-index: 2
				a
					color: $blue
					border-bottom: 1px solid transparent
					padding-bottom: 3px
					&:hover
						border-bottom: 1px solid rgba(66,98,214, 0.3)
			&__descr
				font-size: 12px
				line-height: 1.5
				color: #9b9b9b
				position: relative
				z-index: 2
				p
					padding-bottom: 10px
			.counter
				position: absolute
				right: -11px
				top: -27px
				color: rgba(66,98,214, 0.1)
				font-family: $arimo-B
				font-size: 60px
				width: 350px
				z-index: 1
				&__num
					font-size: 144px
					float: right
					text-align: center
				&__text
					float: right
					text-align: center
					margin-top: -3px
			&__info
				font-size: 12px
				line-height: 1.5
				color: #9b9b9b
				margin: 0
				margin-left: 5.4%
				//width: 22%
				margin-top: -14px
				p
					padding-bottom: 20px
		.doctors
			background: $background
			.col-9
				margin: 0
				width: 73%
			.sort
				font-size: 12px
				line-height: 14px
				color: $text-color-light
				width: 100%
				display: table
				padding: 22px 0 18px 0
				&__title
					color: $text-color
					float: left
					margin-right: 20px
				&__by
					float: left
					li
						display: inline-block
						vertical-align: top
						margin-right: 18px
						a
							color: inherit
							&:hover
								color: #334fb4
							&.sort-link--active
								color: #334fb4
							svg, i
								color: #334fb4
						&:first-child
							margin-right: 1px
				&__favorites
					float: right
					a
						color: inherit
			.mobile__search, .mobile__search-caption, .mobile__date-slide, .info__reviews--mobi, .info__metro--mobile, .mobile-form__time
				display: none
			.doctor
				background: $white
				border-radius: 5px
				box-sizing: border-box
				padding-top: 20px
				display: table
				width: 100%
				margin-bottom: 20px
				.avatar
					float: left
					margin-right: 20px
					position: relative
					padding-left: 20px
					&__img
						width: 60px
						height: 60px
						display: table
						border-radius: 50%
					&__fav
						width: 32px
						height: 32px
						background: url(../images/fav.svg) no-repeat
						background-size: 100%
						margin-top: -26px
						margin-left: -4px
						position: relative
						z-index: 2
						cursor: pointer
					&__fav--active
						background: url(../images/fav--active.svg) no-repeat
						background-size: 100%
				.info
					float: left
					width: 580px
					color: $text-color-light
					font-size: 12px
					padding-bottom: 19px
					padding-right: 20px
					.col-5
						margin: 0
						width: 45%
					.col-7
						margin: 0
					&__name
						font-size: 18px
						color: #334fb4
						line-height: 20px
						border-bottom: 2px solid transparent
						span
						&:hover
							border-bottom: 2px solid #334fb4
					&__specialty
						line-height: 14px
						padding: 10px 0 11px 0
					&__experience
						float: left
						margin-right: 21px
						strong
							color: $text-color
							font-family: $arimo-B
					&__reception
						strong
							font-family: $arimo-B
							color: $text-color
						del
					&__reception--discount
						strong
							color: #ff5353
						del
							margin-right: 1px
							color: $text-color
					.reviews
						margin-top: 1px
						float: left
						margin-right: 29px
						width: 44px
						&__caption
							font-size: 11px
						&__num
							font-family: $arimo-B
							font-size: 26px
							line-height: 30px
							margin-top: 9px
					.rating
						float: left
						margin-top: 1px
						margin-right: 26px
						&__caption
							font-size: 11px
						&__num
							font-family: $arimo-B
							font-size: 30px
							line-height: 30px
							color: #d42131
							margin-top: 9px
					.contacts
						display: block
						float: right
						&__button
							color: $white
							width: 120px
							height: 30px
							display: block
							line-height: 32px
							text-align: center
							border-radius: 30px
							letter-spacing: 1px
							font-size: 12px
							text-transform: uppercase
							font-family: $arimo-B
						&__text
							font-size: 10px
							padding: 10px 0 5px 0
						&__tel
							font-size: 13px
							color: $text-color
					.descr
						clear: both
						padding-top: 10px
						line-height: 14px
						&__more
							color: #334fb4
							font-size: 10px
				.all-addresses
					display: table
					width: 100%
					font-size: 12px
					&__more
						cursor: pointer
						text-transform: uppercase
						text-align: center
						color: #334fb4
						border-top: 1px solid #e1e1e1
						background: #fafbff
						padding: 10px 0
						font-size: 11px
						line-height: 12px
						&:before 
							content: ''
							display: inline-block
							vertical-align: middle
							margin-top: -1px
							margin-right: 5px
							width: 0
							height: 0
							border-style: solid
							border-width: 5px 5px 0
							border-color: grey transparent transparent
					.item
						display: table
						width: 100%
						color: $text-color
						padding-top: 22px
						padding-left: 48px
						line-height: 14px
						background: #fafbff
						box-sizing: border-box
						padding-bottom: 13px
						border-top: 1px solid #e1e1e1
						.col-6
							margin: 0
							width: 49%
						.map
							margin-bottom: 13px
							position: relative
							&__link
								color: #334fb4
								border-bottom: 1px solid transparent
								&:hover
									border-bottom: 1px solid #334fb4
							&__info
							&:before
								content: ''
								width: 18px
								height: 18px
								display: block
								background-position: 50%
								background: url(../images/circle-placeholder.svg) no-repeat
								background-size: 100%
								position: absolute
								left: -28px
								top: -2px
						&__metro
							position: relative
							font-size: 11px
							line-height: 12px
							&:before
								content: ''
								width: 18px
								height: 18px
								display: block
								background-position: 50%
								background: url(../images/circle-metro.svg) no-repeat
								background-size: 100%
								position: absolute
								left: -28px
								top: -2px
							a
								color: $text-color
								margin-right: 7px
								display: inline-block
								border-bottom: 1px solid transparent
								margin-bottom: 9px
								.color-span
									margin-right: 5px
								.metro__link-text
									&:hover
										border-bottom: 1px solid #334fb4
										color: #334fb4
						.work-days
							width: 41.5%
							box-sizing: border-box
							margin-left: 8.1%
							margin-top: -17px
							padding-top: 15px
							height: 70px
							//width: 807px
							overflow: hidden
							position: relative
							&>div
								position: absolute
								//width: 1000px
							.day
								float: left
								width: 90px
								&__caption
									font-size: 10px
									line-height: 11px
									color: $text-color-light
									padding-bottom: 5px
								&__date
									font-size: 12px
									line-height: 14px
									padding-bottom: 5px

								&__work-time
									font-size: 12px
									line-height: 14px
									color: #334fb4
									&:hover
										border-bottom: 1px solid #334fb4
								&--holiday
									.day__date
										color: #ff5353
									.day__work-time
										color: $text-color-light
										&:hover
											border-bottom: 1px solid transparent
						.glide
							&__arrows
								top: 7px
								display: table
								width: 100%
								height: 22px
								margin-left: 0
								right: -10px
							&__arrow
								&.prev
									border: 1px solid #e1e1e1
									width: 19px
									height: 19px
									display: block
									position: absolute
									right: 27px
									left: auto
									top: 4px
									background: url(../images/arrow.svg) no-repeat
									background-position: 50%
									background-size: 100%
									z-index: 2
									transform: rotate(180deg)
									border-radius: 0px 5px 5px 0px
									padding: 0
									box-sizing: border-box
								&.next
									border: 1px solid #e1e1e1
									padding: 0
									width: 19px
									height: 19px
									display: block
									position: absolute
									right: 10px
									top: 4px
									background: url(../images/arrow.svg) no-repeat
									background-position: 50%
									background-size: 100%
									z-index: 2
									transform: rotate(360deg)
									border-radius: 5px
									border-top-left-radius: 0
									border-bottom-left-radius: 0
									box-sizing: border-box
			.sidebar
				box-sizing: border-box
				margin: 0
				padding-left: 4.2%
				padding-top: 42px
				width: 26%
				&__title
					font-size: 12px
					line-height: 14px
					color: $text-color-light
					padding: 14px 0 9px 0
				&__doctors
					font-size: 13px
					line-height: 27px
					color: #334fb4
					li
						a
							color: inherit
							border-bottom: 1px solid transparent
							&:hover
								border-bottom: 1px solid #334fb4
					&:nth-of-type(2)
						line-height: 17px
						li
							padding: 4px 0
							a
.result-doctors__header
	.selectize-control
		height: 50px
	.selectize-input
		border-left: 1px solid #e1e1e1 !important
		border-right: 1px solid #e1e1e1 !important
		padding: 16px 29px 16px 48px
	.selectize-control.single .selectize-input:after
		right: 17px
		margin-top: -3px
	.dropdown-active
		border-left: 1px solid transparent !important
		border-right: 1px solid transparent !important