.wrapper--result-clinics
	display: table
	width: 100%
	background: $background
.result-clinics
	display: table-cell
	//vertical-align: middle
	//border: 30px solid $background
	background: $background
	//border-radius: 45px

	width: 100%
	margin: 0 auto
	min-height: 0
	max-height: 900px
	.header
		display: table
		width: 100%
		background: $white
		position: fixed
		z-index: 99
		left: 0
		top: 0
		box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1)
		height: 50px
		.col-12
			width: 100%
			max-width: 960px
			display: table
			margin: 0 auto
			float: none
		&__logo-min
			margin-left: 0
			margin-top: 10px
			float: left
			color: inherit
			margin-right: 10px
			img, svg
				height: 30px
				width: 30px
				margin-right: 10px
				float: left
			span
				display: block
				float: left
				font-size: 12px
				width: 134px
				letter-spacing: -0.1px
				line-height: 15px
				margin-top: 1px
		.contacts
			position: relative
			float: right
			padding-top: 10px
			margin-right: 60px
			&__descr
				font-size: 10px
				color: $text-color-light
				margin-bottom: 5px
			&__tel
				font-size: 13px
				font-weight: bold
				color: $text-color
			&:after
				content: ''
				display: block
				height: 30px
				width: 30px
				background: url(../images/phone.svg) no-repeat
				background-size: 100%
				position: absolute
				right: -40px
				top: 10px
			&:before
				content: ''
				display: block
				width: 1px
				height: 50px
				background-color: #e1e1e1
				position: absolute
				top: 0
				right: -60px
		&__city
			float: right
			margin-top: 0px
			margin-right: 22px
			width: 206px
			position: relative
			select
				position: relative
				border: none
				background: transparent
				font-size: 14px
				color: $text-color
				width: 100%
				padding-left: 39px
				height: 50px
				background-position: 84% center
				outline: none
				cursor: pointer
				option
					background-color: $white
			&:before
				content: ''
				height: 20px
				width: 20px
				background: url(../images/city.svg) no-repeat
				background-size: 100%
				position: absolute
				left: 20px
				top: 14px
				z-index: 2
	.main
		padding-top: 50px
		padding-bottom: 0
		position: relative
		background: $white
		.head
			display: table
			width: 100%
			padding-bottom: 27px
			.col-9
				position: relative
				margin: 0
			&__title
				font-size: 24px
				font-family: $arimo-B
				line-height: 30px
				padding-bottom: 14px
				position: relative
				z-index: 2
				a
					color: $blue
					border-bottom: 1px solid transparent
					padding-bottom: 3px
					&:hover
						border-bottom: 1px solid rgba(66,98,214, 0.3)
			&__descr
				font-size: 12px
				line-height: 1.5
				color: #9b9b9b
				position: relative
				z-index: 2
				p
					padding-bottom: 10px
			.counter
				position: absolute
				right: -11px
				top: -27px
				color: rgba(66,98,214, 0.1)
				font-family: $arimo-B
				font-size: 60px
				width: 350px
				z-index: 1
				&__num
					font-size: 144px
					float: right
					text-align: center
				&__text
					float: right
					text-align: center
					margin-top: -3px
			&__info
				font-size: 12px
				line-height: 1.5
				color: #9b9b9b
				margin: 0
				margin-left: 5.4%
				//width: 22%
				margin-top: -14px
				p
					padding-bottom: 20px
		.clinics
			background: $background
			.mobile__search, .mobile__search-caption, .mobile__date-slide, .contacts__button--mobile, .info__reviews--mobi, .info__metro--mobile, .info__address--mobile, .mobile-form__time, .all-addresses__mobile
				display: none
			.col-9
				margin: 0
				width: 73%
			.sort
				font-size: 12px
				line-height: 14px
				color: $text-color-light
				width: 100%
				display: table
				padding: 22px 0 18px 0
				&__title
					color: $text-color
					float: left
					margin-right: 20px
				&__by
					float: left
					li
						display: inline-block
						vertical-align: top
						margin-right: 18px
						a
							color: inherit
							&:hover
								color: #334fb4
							&.sort-link--active
								color: #334fb4
							svg, i
								color: #334fb4
						&:first-child
							margin-right: 1px
				&__favorites
					float: right
					a
						color: inherit
			.clinic
				background: $white
				border-radius: 5px
				box-sizing: border-box
				padding-top: 20px
				display: table
				width: 100%
				margin-bottom: 20px
				.logo
					float: left
					margin-right: 20px
					position: relative
					padding-left: 20px
					&__img
						width: 100px
						height: auto
						display: table
						border: solid 1px #e1e1e1
						display: block
						box-sizing: border-box
					&__fav
						width: 32px
						height: 32px
						background: url(../images/fav.svg) no-repeat
						background-size: 100%
						margin-top: -26px
						margin-left: -4px
						position: relative
						z-index: 2
						cursor: pointer
					&__fav--active
						background: url(../images/fav--active.svg) no-repeat
						background-size: 100%
				.info
					float: left
					width: 540px
					color: $text-color-light
					font-size: 12px
					padding-bottom: 19px
					padding-right: 20px
					.col-5
						margin: 0
						width: 45%
					.col-7
						margin: 0
					.col-3
						margin: 0
						padding-left: 4.75%
						width: 27%
					&__name
						font-size: 18px
						color: #334fb4
						line-height: 20px
						border-bottom: 2px solid transparent
						span
						&:hover
							border-bottom: 2px solid #334fb4
					&__specialty
						line-height: 14px
						padding: 5px 0 12px 0
					&__experience
						float: left
						margin-right: 21px
						strong
							color: $text-color
							font-family: $arimo-B
					&__reception
						strong
							font-family: $arimo-B
							color: $text-color
						del
					&__reception--discount
						strong
							color: #ff5353
						del
							margin-right: 1px
							color: $text-color
					.reviews
						margin-top: 1px
						float: left
						width: 44px
						&__caption
							font-size: 11px
						&__num
							font-family: $arimo-B
							font-size: 26px
							line-height: 30px
							margin-top: 9px
					.rating
						float: right
						margin-top: 1px
						&__caption
							font-size: 11px
						&__num
							font-family: $arimo-B
							font-size: 30px
							line-height: 30px
							color: #d42131
							margin-top: 9px
					.contacts
						display: block
						float: right
						width: 100%
						padding-top: 10px
						&__button
							color: $white
							width: 120px
							height: 30px
							display: block
							line-height: 32px
							text-align: center
							border-radius: 30px
							letter-spacing: 1px
							font-size: 12px
							text-transform: uppercase
							font-family: $arimo-B
						&__text
							font-size: 10px
							padding: 10px 0 7px 0
						&__tel
							font-size: 15px
							color: #334fb4
							font-family: $arimo-B
					.descr
						clear: both
						padding-top: 10px
						line-height: 14px
						&__more
							color: #334fb4
							font-size: 10px
				.all-addresses
					display: table
					width: 100%
					font-size: 12px
					&__more
						cursor: pointer
						text-transform: uppercase
						text-align: center
						color: #334fb4
						border-top: 1px solid #e1e1e1
						background: #fafbff
						padding: 9px 0 10px 0
						font-size: 11px
						line-height: 12px
						&:before 
							content: ''
							display: inline-block
							vertical-align: middle
							margin-top: -1px
							margin-right: 5px
							width: 0
							height: 0
							border-style: solid
							border-width: 5px 5px 0
							border-color: grey transparent transparent
					.item
						display: table
						width: 100%
						color: $text-color
						padding-top: 22px
						padding-left: 20px
						line-height: 14px
						background: #fafbff
						box-sizing: border-box
						padding-bottom: 20px
						border-top: 1px solid #e1e1e1
						.col-2
							margin: 0
							width: 20%
							padding-right: 20px
							font-family: $arimo-B
							font-size: 14px
							line-height: 16px
							margin-top: -3px
						.col-7
							margin: 0
							width: 56%
							padding-left: 1.8%
						.col-3
							margin: 0
							margin-top: -1px
							margin-left: -7px
							.reviews
								float: left
								margin-left: 30px
								color: $text-color-light
								&__caption
									font-size: 11px
								&__num
									font-family: $arimo-B
									font-size: 26px
									line-height: 30px
									margin-top: 9px
							.rating
								float: right
								margin-right: -2px
								&__caption
									font-size: 11px
								&__num
									font-family: $arimo-B
									font-size: 30px
									line-height: 30px
									color: #d42131
									margin-top: 8px
							.contacts
								display: block
								float: right
								width: 100%
								padding-top: 18px
								&__button
									color: $white
									width: 120px
									height: 30px
									display: block
									line-height: 32px
									text-align: center
									border-radius: 30px
									letter-spacing: 1px
									font-size: 12px
									text-transform: uppercase
									font-family: $arimo-B
									margin-left: auto
									margin-right: -3px
								&__text
									font-size: 10px
									padding: 10px 0 7px 0
								&__tel
									font-size: 15px
									color: #334fb4
									font-family: $arimo-B
						.map
							margin-bottom: 13px
							position: relative
							&__link
								color: #334fb4
								border-bottom: 1px solid transparent
								&:hover
									border-bottom: 1px solid #334fb4
							&__info
							&:before
								content: ''
								width: 18px
								height: 18px
								display: block
								background-position: 50%
								background: url(../images/circle-placeholder.svg) no-repeat
								background-size: 100%
								position: absolute
								left: -28px
								top: -2px
						&__metro
							position: relative
							font-size: 11px
							line-height: 12px
							max-height: 41px
							&:before
								content: ''
								width: 18px
								height: 18px
								display: block
								background-position: 50%
								background: url(../images/circle-metro.svg) no-repeat
								background-size: 100%
								position: absolute
								left: -28px
								top: -2px
							a
								color: $text-color
								margin-right: 7px
								display: inline-block
								border-bottom: 1px solid transparent
								margin-bottom: 9px
								.color-span
									margin-right: 5px
								.metro__link-text
									&:hover
										border-bottom: 1px solid #334fb4
										color: #334fb4
						.work-days
							box-sizing: border-box
							.day
								float: left
								margin-right: 19px
								&__caption
									font-size: 10px
									line-height: 11px
									color: $text-color-light
									padding-bottom: 10px
									padding-top: 3px
								&__work-time
									font-size: 12px
									line-height: 14px
									color: #334fb4
				&--single-clinic
					.info
						padding-bottom: 20px
						.contacts
							padding-top: 19px
							.contacts__button
							.contacts__text
								padding: 10px 0 4px
							.contacts__tel
								line-height: 15px
								color: $text-color
								font-family: $arimo-R
								font-size: 13px
					.all-addresses
						.item
							.map
								margin-bottom: 15px
			.sidebar
				box-sizing: border-box
				margin: 0
				padding-left: 4.2%
				padding-top: 42px
				width: 26%
				&__main-title
					font-size: 12px
					line-height: 14px
					color: $text-color-light
					padding: 14px 0 2px 0
				&__title
					font-size: 12px
					line-height: 14px
					color: $text-color-light
					padding: 14px 0 5px 0
				&__clinics
					font-size: 13px
					line-height: 25px
					color: #334fb4
					padding-bottom: 2px
					li
						a
							color: inherit
							border-bottom: 1px solid transparent
							&:hover
								border-bottom: 1px solid #334fb4
					&:nth-of-type(5)
						padding-top: 4px
.result-clinics__header
	.selectize-control
		height: 50px
	.selectize-input
		border-left: 1px solid #e1e1e1 !important
		border-right: 1px solid #e1e1e1 !important
		padding: 16px 29px 16px 48px
	.selectize-control.single .selectize-input:after
		right: 17px
		margin-top: -3px
	.dropdown-active
		border-left: 1px solid transparent !important
		border-right: 1px solid transparent !important