.h1--body-single-clinic
	position: absolute
	left: 50%
	top: 176px
	margin-left: -460px
	z-index: 3
	font-size: 20px
	line-height: 22px
	max-width: 512px
.wrapper--single-clinics
	display: table
	width: 100%
	background: $background
.single-clinics
	display: table-cell
	//vertical-align: middle
	//border: 30px solid $background
	background: $background
	//border-radius: 45px

	width: 100%
	margin: 0 auto
	min-height: 0
	max-height: 900px
	.header
		display: table
		width: 100%
		background: $white
		position: fixed
		z-index: 99
		left: 0
		top: 0
		box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1)
		height: 50px
		.col-12
			width: 100%
			max-width: 960px
			display: table
			margin: 0 auto
			float: none
		&__logo-min
			margin-left: 0
			margin-top: 10px
			float: left
			color: inherit
			margin-right: 10px
			img, svg
				height: 30px
				width: 30px
				margin-right: 10px
				float: left
			span
				display: block
				float: left
				font-size: 12px
				width: 134px
				letter-spacing: -0.1px
				line-height: 15px
				margin-top: 1px
		.contacts
			position: relative
			float: right
			padding-top: 10px
			margin-right: 60px
			&__descr
				font-size: 10px
				color: $text-color-light
				margin-bottom: 5px
			&__tel
				font-size: 13px
				font-weight: bold
				color: $text-color
			&:after
				content: ''
				display: block
				height: 30px
				width: 30px
				background: url(../images/phone.svg) no-repeat
				background-size: 100%
				position: absolute
				right: -40px
				top: 10px
			&:before
				content: ''
				display: block
				width: 1px
				height: 50px
				background-color: #e1e1e1
				position: absolute
				top: 0
				right: -60px
		&__city
			float: right
			margin-top: 0px
			margin-right: 22px
			width: 206px
			position: relative
			select
				position: relative
				border: none
				background: transparent
				font-size: 14px
				color: $text-color
				width: 100%
				padding-left: 39px
				height: 50px
				background-position: 84% center
				outline: none
				cursor: pointer
				option
					background-color: $white
			&:before
				content: ''
				height: 20px
				width: 20px
				background: url(../images/city.svg) no-repeat
				background-size: 100%
				position: absolute
				left: 20px
				top: 14px
				z-index: 2
	.main
		padding-top: 50px
		padding-bottom: 0
		position: relative
		background: $white
		.head
			display: table
			width: 100%
			background-image: linear-gradient(350deg, #6f62ea, #53a0fe 58%, #50ed99)
			background-position: 70% 0
			background-size: 150%
			color: $white
			&__title
				font-size: 24px
				font-family: $arimo-B
				line-height: 30px
				padding-bottom: 14px
				position: relative
				z-index: 2
				padding: 10px 0
				.col-12
					max-width: 960px
					margin: 0 auto
					float: none
				a
					color: rgba(255, 255, 255, 0.5)
					border-bottom: 1px solid transparent
					padding-bottom: 3px
					&:hover
						border-bottom: 1px solid rgba(255, 255, 255, 0.5)
		.breadcrumbs
			padding-top: 20px
			.current, .sep
				color: $text-color
		.description
			background: $background
			.col-9
				margin: 0
				width: 73%
			.clinic
				background: $white
				border-radius: 5px
				box-sizing: border-box
				padding: 20px
				display: table
				width: 100%
				margin-bottom: 20px
				.info
					float: left
					color: $text-color-light
					font-size: 12px
					&__mobile
						display: none
						.mobile__reviews
							float: none
							clear: both
							padding-left: 10px

							strong
								font-family: $arimo-B
								color: $text-color
						.mobile__price
							float: none
							clear: both
							padding-left: 10px
							line-height: 14px
							padding-top: 5px
							padding-bottom: 6px
							strong
								font-family: $arimo-B
								color: $text-color
					.col-5
						margin: 0
						float: right
					.col-7
						margin: 0
					&__name
						font-size: 20px
						color: $text-color
						line-height: 22px
						margin-top: 3px
						span
					&__specialty
						line-height: 14px
						padding: 5px 0 15px 0
					&__experience
						float: left
						margin-right: 21px
						strong
							color: $text-color
							font-family: $arimo-B
					&__reception
						strong
							font-family: $arimo-B
							color: $text-color
						del
					&__reception--discount
						strong
							color: #ff5353
						del
							margin-right: 1px
							color: $text-color
					.reviews
						margin-top: 2px
						float: right
						margin-right: 28px
						width: 44px
						&__caption
							font-size: 11px
						&__num
							font-family: $arimo-B
							font-size: 26px
							line-height: 30px
							margin-top: 6px
					.rating
						float: right
						margin-top: 2px
						margin-right: 0
						&__caption
							font-size: 11px
						&__num
							font-family: $arimo-B
							font-size: 30px
							line-height: 30px
							color: #d42131
							margin-top: 6px
					.descr
						clear: both
						padding-top: 5px
						line-height: 14px
						margin-bottom: 20px
				.content
					&__slider
						margin-bottom: 19px
						clear: both
						height: 260px
						overflow: hidden
						max-width: 660px
						margin-left: -20px
						padding-left: 20px
						margin-right: -20px
						padding-right: 20px
					&__descr
						font-size: 12px
						line-height: 20px
						color: #4a4a4a
			&__doctors-caption
				font-family: $arimo-B
				font-size: 14px
				line-height: 16px
				margin-top: -1px
				margin-bottom: 20px
			.doctor
				background: $white
				border-radius: 5px
				box-sizing: border-box
				padding-top: 20px
				display: table
				width: 100%
				margin-bottom: 20px
				.avatar
					float: left
					margin-right: 20px
					position: relative
					padding-left: 20px
					&__img
						width: 60px
						height: 60px
						display: table
						border-radius: 50%
				.info
					float: left
					width: 580px
					color: $text-color-light
					font-size: 12px
					padding-bottom: 19px
					padding-right: 20px
					.col-5
						margin: 0
						width: 45%
					.col-7
						margin: 0
					&__name
						font-size: 18px
						color: #334fb4
						line-height: 20px
						border-bottom: 2px solid transparent
						span
						&:hover
							border-bottom: 2px solid #334fb4
					&__specialty
						line-height: 14px
						padding: 10px 0 11px 0
					&__experience
						float: left
						margin-right: 21px
						strong
							color: $text-color
							font-family: $arimo-B
					&__reception
						strong
							font-family: $arimo-B
							color: $text-color
						del
					&__reception--discount
						strong
							color: #ff5353
						del
							margin-right: 1px
							color: $text-color
					.info__reviews--mobi
						display: none
					.info__metro--mobile
						display: none
					.reviews
						margin-top: 1px
						float: left
						margin-right: 29px
						width: 44px
						&__caption
							font-size: 11px
						&__num
							font-family: $arimo-B
							font-size: 26px
							line-height: 30px
							margin-top: 9px
					.rating
						float: left
						margin-top: 1px
						margin-right: 26px
						&__caption
							font-size: 11px
						&__num
							font-family: $arimo-B
							font-size: 30px
							line-height: 30px
							color: #d42131
							margin-top: 9px
					.contacts
						display: block
						float: right
						&__button
							color: $white
							width: 120px
							height: 30px
							display: block
							line-height: 32px
							text-align: center
							border-radius: 30px
							letter-spacing: 1px
							font-size: 12px
							text-transform: uppercase
							font-family: $arimo-B
						&__text
							font-size: 10px
							padding: 10px 0 5px 0
						&__tel
							font-size: 13px
							color: $text-color
					.descr
						clear: both
						padding-top: 10px
						line-height: 14px
						&__more
							color: #334fb4
							font-size: 10px
				.all-addresses
					display: table
					width: 100%
					font-size: 12px
					&__more
						cursor: pointer
						text-transform: uppercase
						text-align: center
						color: #334fb4
						border-top: 1px solid #e1e1e1
						background: #fafbff
						padding: 10px 0
						font-size: 11px
						line-height: 12px
						&:before 
							content: ''
							display: inline-block
							vertical-align: middle
							margin-top: -1px
							margin-right: 5px
							width: 0
							height: 0
							border-style: solid
							border-width: 5px 5px 0
							border-color: grey transparent transparent
					.item
						display: table
						width: 100%
						color: $text-color
						padding-top: 22px
						padding-left: 48px
						line-height: 14px
						background: #fafbff
						box-sizing: border-box
						padding-bottom: 13px
						border-top: 1px solid #e1e1e1
						.col-6
							margin: 0
							width: 49%
						.map
							margin-bottom: 13px
							position: relative
							&__link
								color: #334fb4
								border-bottom: 1px solid transparent
								&:hover
									border-bottom: 1px solid #334fb4
							&__info
							&:before
								content: ''
								width: 18px
								height: 18px
								display: block
								background-position: 50%
								background: url(../images/circle-placeholder.svg) no-repeat
								background-size: 100%
								position: absolute
								left: -28px
								top: -2px
						&__metro
							position: relative
							font-size: 11px
							line-height: 12px
							&:before
								content: ''
								width: 18px
								height: 18px
								display: block
								background-position: 50%
								background: url(../images/circle-metro.svg) no-repeat
								background-size: 100%
								position: absolute
								left: -28px
								top: -2px
							a
								color: $text-color
								margin-right: 7px
								display: inline-block
								border-bottom: 1px solid transparent
								margin-bottom: 9px
								.color-span
									margin-right: 5px
								.metro__link-text
									&:hover
										border-bottom: 1px solid #334fb4
										color: #334fb4
						.work-days
							width: 49.5%
							box-sizing: border-box
							padding-left: 8.1%
							margin-top: -17px
							padding-top: 15px
							height: 70px
							//width: 807px
							overflow: hidden
							position: relative
							&>div
								position: absolute
								width: 1000px
							.day
								float: left
								width: 90px
								&__caption
									font-size: 10px
									line-height: 11px
									color: $text-color-light
									padding-bottom: 5px
								&__date
									font-size: 12px
									line-height: 14px
									padding-bottom: 5px

								&__work-time
									font-size: 12px
									line-height: 14px
									color: #334fb4
									&:hover
										border-bottom: 1px solid #334fb4
								&--holiday
									.day__date
										color: #ff5353
									.day__work-time
										color: $text-color-light
										&:hover
											border-bottom: 1px solid transparent
							&__prev
								border: 1px solid #e1e1e1
								width: 16px
								height: 16px
								display: block
								position: absolute
								right: 27px
								top: 4px
								background: url(../images/arrow.svg) no-repeat
								background-position: 50%
								background-size: 100%
								z-index: 2
								transform: rotate(180deg)
								border-radius: 0px 5px 5px 0px
							&__next
								border: 1px solid #e1e1e1
								width: 16px
								height: 16px
								display: block
								position: absolute
								right: 10px
								top: 4px
								background: url(../images/arrow.svg) no-repeat
								background-position: 50%
								background-size: 100%
								z-index: 2
								border-radius: 5px
								border-top-left-radius: 0
								border-bottom-left-radius: 0
						.work-days.glide
							.glide__arrows
								top: 7px
								display: table
								width: 100%
								height: 22px
								margin-left: 0
								right: -10px
							.glide__wrapper
								height: 60px
								li
									//width: 270px !important
							.glide__arrow
								&.prev
									border: 1px solid #e1e1e1
									width: 18px
									height: 18px
									display: block
									position: absolute
									right: 27px
									left: auto
									top: 4px
									background: $white url(../images/arrow.svg) no-repeat
									background-position: 50%
									background-size: 100%
									z-index: 2
									transform: rotate(180deg)
									border-radius: 0px 5px 5px 0px
									padding: 0
									box-sizing: border-box
								&.next
									border: 1px solid #e1e1e1
									padding: 0
									width: 18px
									height: 18px
									display: block
									position: absolute
									right: 10px
									top: 4px
									background: $white url(../images/arrow.svg) no-repeat
									background-position: 50%
									background-size: 100%
									z-index: 2
									transform: rotate(360deg)
									border-radius: 5px
									border-top-left-radius: 0
									border-bottom-left-radius: 0
									box-sizing: border-box

			&__more-doctors
				cursor: pointer
				text-transform: uppercase
				text-align: center
				color: #334fb4
				background: #fafbff
				padding: 9px 0
				font-size: 11px
				line-height: 12px
				margin-top: -10px
				margin-bottom: 20px
			.licenses
				background: $white
				border-radius: 5px
				box-sizing: border-box
				display: table
				width: 100%
				margin-bottom: 20px
				&__caption
					padding: 20px
					font-size: 14px
					line-height: 16px
					font-family: $arimo-B
					border-bottom: 1px solid #e1e1e1
					padding-bottom: 16px
					margin-bottom: 20px
				&__link
					width: 110px
					height: 165px
					display: block
					float: left
					margin: 0px 8px 20px 20px
					img
						width: 100%
						display: block
				&__more
					cursor: pointer
					text-transform: uppercase
					text-align: center
					color: #334fb4
					border-top: 1px solid #e1e1e1
					background: $white
					padding: 10px 0
					font-size: 11px
					line-height: 12px
					clear: both
					border-bottom-left-radius: 5px
					border-bottom-right-radius: 5px
					&:before 
						content: ''
						display: inline-block
						vertical-align: middle
						margin-top: -1px
						margin-right: 5px
						width: 0
						height: 0
						border-style: solid
						border-width: 5px 5px 0
						border-color: grey transparent transparent
			.licenses--mobile
				display: none
			.rating-stars
				background: $white
				border: 2px solid #f6a623
				border-radius: 5px
				box-sizing: border-box
				padding: 19px 20px 18px 98px
				display: table
				width: 100%
				margin-bottom: 20px
				&__go-to-reviews
					font-size: 12px
					line-height: 14px
					color: #334fb4
					border-bottom: 1px solid transparent
					float: right
					margin-top: 57px
					margin-right: -2px
					&:hover
						border-bottom: 1px solid #334fb4
				&__title
					font-size: 14px
					line-height: 16px
					color: $text-color
					font-family: $arimo-B
					margin-top: -3px
				.btn
					background: #bfe6ae
					color: #348b0e
					width: 140px
					height: 50px
					line-height: 50px
					border-radius: 25px
					margin-top: 21px
					float: left
					&__circle
						svg
							display: inline-block
							vertical-align: middle
							float: left
							margin-top: 9px
							margin-left: 12px
							margin-right: 12px
					span
						font-size: 18px
						font-family: $arimo-B
					&--dislike
						background-color: #ffc9c9
						color: #ff5353
						svg
							transform: scale(1,-1)
							#card-7
								fill: #ff5353
				.qualification
					float: left
					margin-left: 40px
					margin-top: 27px
					&__caption
						font-size: 11px
						line-height: 12px
						padding-bottom: 5px
					fieldset
						padding-left: 1px
						input + label
							&:before
								color: #c0c0c0 !important
						input:checked ~ label
							&:before
								color: #f6a623 !important
			.tabs
				background: $white
				border-radius: 5px
				box-sizing: border-box
				padding: 20px 0
				display: table
				width: 100%
				margin-bottom: 20px
				padding-bottom: 0
				.caption
					font-size: 14px
					line-height: 16px
					display: table
					width: 100%
					margin-top: -10px
					&__title
						font-family: $arimo-B
						float: left
						padding: 10px 22px 10px 20px
					&__tab
						border-bottom: 2px solid transparent
						padding: 10px 0 15px 0
						float: left
						margin-right: 21px
						cursor: pointer
						&:hover, &--active
							border-bottom: 2px solid #334fb4
						&--all
						&--positive
							color: #348b0e
						&--negative
							color: #ff5353
					&__btn
						float: right
						display: block
						box-sizing: border-box
						color: $white
						width: 160px
						height: 30px
						border-radius: 30px
						line-height: 32px
						font-size: 12px
						letter-spacing: 1px
						font-family: $arimo-B
						text-align: center
						margin-top: 2px
						margin-right: 10px
						text-transform: uppercase
				.review
					border-top: 1px solid #e1e1e1
					margin-top: -1px
					display: table
					width: 100%
					padding-bottom: 16px
					&__like
						width: 50px
						height: 50px
						line-height: 46px
						border-radius: 50px
						background-color: #bfe6ae
						float: left
						text-align: center
						margin-left: 30px
						margin-top: 20px
						margin-right: 20px
						svg
							display: inline-block
							vertical-align: middle
						&--dislike
							background-color: #ffc9c9
							line-height: 50px
							svg
								transform: scale(1, -1)
								#card-7
									fill: #ff5353
					.content
						float: left
						width: 580px
						&__title
							font-size: 13px
							color: $text-color-light
							line-height: 15px
							padding: 20px 0 11px 0
							.title__doctor
								float: right
								a
									color: #334fb4
									border-bottom: 1px solid transparent
									&:hover
										border-bottom: 1px solid #334fb4
						&__descr
							font-size: 12px
							color: #4a4a4a
							line-height: 20px
						.qualification
							float: left
							margin-left: 0
							margin-top: 9px
							&__caption
								font-size: 11px
								line-height: 12px
								padding-bottom: 5px
							fieldset
								padding-left: 1px
								input + label
									&:before
										color: #c0c0c0 !important
							fieldset> input:checked ~ label
								&:before
									color: #f6a623 !important
					&__more
						cursor: pointer
						text-transform: uppercase
						text-align: center
						color: #334fb4
						border-top: 1px solid #e1e1e1
						background: #fafbff
						padding: 10px 0
						font-size: 11px
						line-height: 12px
						&:before 
							content: ''
							display: inline-block
							vertical-align: middle
							margin-top: -1px
							margin-right: 5px
							width: 0
							height: 0
							border-style: solid
							border-width: 5px 5px 0
							border-color: grey transparent transparent
			.detais
				background: $white
				border-radius: 5px
				box-sizing: border-box
				padding: 20px 0
				display: table
				width: 100%
				margin-bottom: 20px
				padding-bottom: 10px
				&__title
					font-size: 14px
					font-family: $arimo-B
					color: $text-color
					border-bottom: 1px solid #e1e1e1
					padding: 0px 20px 18px 20px
					margin-top: -1px
					margin-bottom: 10px
				&__caption
					font-size: 14px
					font-family: $arimo-B
					color: $text-color
					padding: 11px 20px 11px
				p
					padding-left: 20px
					padding-right: 20px
					line-height: 20px
					font-size: 12px
					padding-bottom: 10px
				ul
					padding-left: 20px
					padding-right: 20px
					line-height: 20px
					font-size: 12px
					li
						padding-left: 36px
						padding-bottom: 10px
						position: relative
						&:before
							content: ''
							position: absolute
							display: block
							height: 3px
							width: 3px
							border-radius: 50%
							background: #4a4a4a
							left: 12px
							top: 8px
			.more-clinics
				padding-bottom: 18px
				width: 100%
				max-width: 700px
				clear: both
				float: none
				&__title
					font-size: 14px
					line-height: 16px
					font-family: $arimo-B
					padding-bottom: 20px
				.clinic
					padding-bottom: 3px
					margin-bottom: 10px
					.info
						&__name
							color: #334fb4
						.reviews
							float: right
							margin-right: 28px
						.rating
							float: right
							margin-right: 0
			.sidebar
				box-sizing: border-box
				border-radius: 5px
				margin: 0
				margin-left: 2%
				width: 25%
				.mobile__rating-stars
					display: none
				&__map-container
					width: 240px
					height: 160px
					border-top-left-radius: 5px
					border-top-right-radius: 5px
					margin-bottom: 1px
				&__address-caption--mobi
					display: none
				.address
					padding: 19px 10px 10px 10px
					position: relative
					border-bottom: 1px solid #e1e1e1
					background: $white
					&:nth-last-of-type(1)
						border-bottom: 1px solid $white
						margin-bottom: 20px
						border-bottom-left-radius: 5px
						border-bottom-right-radius: 5px
					&__count
						position: absolute
						z-index: 1
						right: 10px
						top: 12px
						color: #334fb4
						opacity: 0.2
						font-size: 48px
						font-family: $roboto-BL
					.map
						margin-bottom: 11px
						position: relative
						z-index: 2
						font-size: 12px
						margin-top: 2px
						&__link
							color: #334fb4
							border-bottom: 1px solid transparent
							&:hover
								border-bottom: 1px solid #334fb4
						&__info
							margin-top: 2px
					&__metro
						position: relative
						font-size: 11px
						line-height: 12px
						box-sizing: border-box
						a
							color: $text-color
							margin-right: 7px
							display: inline-block
							border-bottom: 1px solid transparent
							margin-bottom: 9px
							.color-span
								margin-right: 5px
							.metro__link-text
								&:hover
									border-bottom: 1px solid #334fb4
									color: #334fb4
				.prices
					box-sizing: border-box
					padding-top: 14px
					background: $white
					margin-top: 20px
					padding-bottom: 15px
					&__title
						font-size: 14px
						line-height: 16px
						padding: 5px 20px
					.spoiler
						+transition(0.2s ease-in-out)
						&__link
							box-sizing: border-box
							display: block
							padding: 5px 20px 6px 20px
							font-size: 13px
							cursor: pointer
							color: #334fb4
							border-top: 1px solid $white
							position: relative
							&:before
								content: ''
								display: block
								width: 11px
								height: 11px
								background: url(../images/spoiler.svg) no-repeat
								background-size: 100%
								position: absolute
								right: 9px
								top: 13px
								opacity: 0
						.body
							box-sizing: border-box
							padding: 0 20px
							border-bottom: 1px solid $white
							color: #334fb4
							padding-bottom: 10px
							margin-bottom: 5px
							li
								margin-top: -2px
								span
									display: inline-block
									font-size: 13px
									padding: 7px 0
								.body__price
									color: #ff5353
									//margin-top: -5px
									//margin-bottom: 7px
								&>ul
									font-size: 12px
									li
										padding-left: 10px
										span
											font-size: 12px
										.body__price
										&>ul
											li
												span
													line-height: 14px
													padding: 6px 0
												.body__price	
						.body
							&>li:nth-last-of-type(1)
								ul
									li
										.body__price
											margin-bottom: 2px
						&--open
							margin-top: 5px
							.spoiler__link
								font-family: $arimo-B
								color: $text-color
								line-height: 15px
								border-top: 1px solid #e1e1e1
								background: #fafbff
								padding-top: 9px
								&:before
									content: ''
									display: block
									width: 11px
									height: 11px
									background: url(../images/spoiler.svg) no-repeat
									background-size: 100%
									position: absolute
									right: 9px
									top: 13px
									opacity: 1
							.body
								display: block
								background: #fafbff
								border-bottom: 1px solid #e1e1e1
					&:nth-last-of-type(1)
						.spoiler__link
							padding: 6px 20px 6px
.single-clinics__header
	.selectize-control
		height: 50px
	.selectize-input
		border-left: 1px solid #e1e1e1 !important
		border-right: 1px solid #e1e1e1 !important
		padding: 16px 29px 16px 48px
	.selectize-control.single .selectize-input:after
		right: 17px
		margin-top: -3px
	.dropdown-active
		border-left: 1px solid transparent !important
		border-right: 1px solid transparent !important