.h1--body-single-doctor
	position: absolute
	left: 50%
	top: 173px
	margin-left: -380px
	z-index: 3
	font-size: 18px
	line-height: 20px
	max-width: 310px
.wrapper--single-doctors
	display: table
	width: 100%
	background: $background
.single-doctors
	display: table-cell
	//vertical-align: middle
	//border: 30px solid $background
	background: $background
	//border-radius: 45px

	width: 100%
	margin: 0 auto
	min-height: 0
	max-height: 900px
	.header
		display: table
		width: 100%
		background: $white
		position: fixed
		z-index: 99
		left: 0
		top: 0
		box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1)
		height: 50px
		.col-12
			width: 100%
			max-width: 960px
			display: table
			margin: 0 auto
			float: none
		&__logo-min
			margin-left: 0
			margin-top: 10px
			float: left
			color: inherit
			margin-right: 10px
			img, svg
				height: 30px
				width: 30px
				margin-right: 10px
				float: left
			span
				display: block
				float: left
				font-size: 12px
				width: 134px
				letter-spacing: -0.1px
				line-height: 15px
				margin-top: 1px
		.contacts
			position: relative
			float: right
			padding-top: 10px
			margin-right: 60px
			&__descr
				font-size: 10px
				color: $text-color-light
				margin-bottom: 5px
			&__tel
				font-size: 13px
				font-weight: bold
				color: $text-color
			&:after
				content: ''
				display: block
				height: 30px
				width: 30px
				background: url(../images/phone.svg) no-repeat
				background-size: 100%
				position: absolute
				right: -40px
				top: 10px
			&:before
				content: ''
				display: block
				width: 1px
				height: 50px
				background-color: #e1e1e1
				position: absolute
				top: 0
				right: -60px
		&__city
			float: right
			margin-top: 0px
			margin-right: 22px
			width: 206px
			position: relative
			select
				position: relative
				border: none
				background: transparent
				font-size: 14px
				color: $text-color
				width: 100%
				padding-left: 39px
				height: 50px
				background-position: 84% center
				outline: none
				cursor: pointer
				option
					background-color: $white
			&:before
				content: ''
				height: 20px
				width: 20px
				background: url(../images/city.svg) no-repeat
				background-size: 100%
				position: absolute
				left: 20px
				top: 14px
				z-index: 2
	.main
		padding-top: 50px
		padding-bottom: 0
		position: relative
		background: $white
		.head
			display: table
			width: 100%
			background-image: linear-gradient(350deg, #6f62ea, #53a0fe 58%, #50ed99)
			background-position: 70% 0
			background-size: 150%
			color: $white
			&__title
				font-size: 24px
				font-family: $arimo-B
				line-height: 30px
				padding-bottom: 14px
				position: relative
				z-index: 2
				padding: 10px 0
				.col-12
					max-width: 960px
					margin: 0 auto
					float: none
				a
					color: rgba(255, 255, 255, 0.5)
					border-bottom: 1px solid transparent
					padding-bottom: 3px
					&:hover
						border-bottom: 1px solid rgba(255, 255, 255, 0.5)
		.breadcrumbs
			padding-top: 20px
			.current, .sep
				color: $text-color
		.description
			background: $background
			.col-9
				margin: 0
				width: 73%
			.doctor
				background: $white
				border-radius: 5px
				box-sizing: border-box
				padding-top: 20px
				display: table
				width: 100%
				margin-bottom: 20px
				.avatar
					float: left
					margin-right: 20px
					position: relative
					padding-left: 20px
					&__img
						width: 60px
						height: 60px
						display: table
						border-radius: 50%
				.info
					float: left
					width: 580px
					color: $text-color-light
					font-size: 12px
					padding-bottom: 17px
					padding-right: 20px
					.col-5
						margin: 0
						width: 45%
					.col-7
						margin: 0
					&__name
						font-size: 18px
						color: $text-color
						line-height: 20px
						span
					&__specialty
						line-height: 14px
						padding: 10px 0 15px 0
					.info__reviews--mobi
						display: none
					&__experience
						float: left
						margin-right: 21px
						strong
							color: $text-color
							font-family: $arimo-B
					&__reception
						strong
							font-family: $arimo-B
							color: $text-color
						del
					&__reception--discount
						strong
							color: #ff5353
						del
							margin-right: 1px
							color: $text-color

					.reviews
						margin-top: 2px
						float: left
						margin-right: 29px
						width: 44px
						&__caption
							font-size: 11px
						&__num
							font-family: $arimo-B
							font-size: 26px
							line-height: 30px
							margin-top: 9px
					.rating
						float: left
						margin-top: 2px
						margin-right: 26px
						&__caption
							font-size: 11px
						&__num
							font-family: $arimo-B
							font-size: 30px
							line-height: 30px
							color: #d42131
							margin-top: 9px
					.contacts
						display: block
						float: right
						&__button
							color: $white
							width: 120px
							height: 30px
							display: block
							line-height: 32px
							text-align: center
							border-radius: 30px
							letter-spacing: 1px
							font-size: 12px
							text-transform: uppercase
							font-family: $arimo-B
							margin-top: 1px
						&__text
							font-size: 10px
							padding: 10px 0 5px 0
						&__tel
							font-size: 13px
							color: $text-color
					.descr
						clear: both
						padding-top: 43px
						line-height: 20px
						&__more
							color: #334fb4
							font-size: 12px
							display: table
							margin-top: 6px
						&__more-text
							display: none
			.mobile-appointment
				display: none
			.rating-stars
				background: $white
				border: 2px solid #f6a623
				border-radius: 5px
				box-sizing: border-box
				padding: 20px 20px 18px 98px
				display: table
				width: 100%
				margin-bottom: 20px
				&__title
					font-size: 14px
					line-height: 16px
					color: $text-color
					font-family: $arimo-B
					margin-top: -3px
				.btn
					background: #bfe6ae
					color: #348b0e
					width: 140px
					height: 50px
					line-height: 50px
					border-radius: 25px
					margin-top: 21px
					float: left
					&__circle
						svg
							display: inline-block
							vertical-align: middle
							float: left
							margin-top: 9px
							margin-left: 12px
							margin-right: 12px
					span
						font-size: 18px
						font-family: $arimo-B
					&--dislike
						background-color: #ffc9c9
						color: #ff5353
						svg
							transform: scale(1,-1)
							#card-7
								fill: #ff5353
				.qualification, .attention, .price
					float: left
					margin-left: 40px
					margin-top: 27px
					&__caption
						font-size: 11px
						line-height: 12px
						padding-bottom: 5px
					fieldset
						padding-left: 1px
						input + label
							&:before
								color: #c0c0c0 !important
					fieldset> input:checked ~ label:before
						color: #f6a623 !important
				.attention
					margin-left: 37px
				.price
					margin-left: 38px
			.tabs
				background: $white
				border-radius: 5px
				box-sizing: border-box
				padding: 20px 0
				display: table
				width: 100%
				margin-bottom: 20px
				padding-bottom: 0
				.caption
					font-size: 14px
					line-height: 16px
					display: table
					width: 100%
					margin-top: -10px
					&__title
						font-family: $arimo-B
						float: left
						padding: 10px 22px 10px 20px
					&__tab
						border-bottom: 2px solid transparent
						padding: 10px 0 15px 0
						float: left
						margin-right: 21px
						cursor: pointer
						&:hover, &--active
							border-bottom: 2px solid #334fb4
						&--all
						&--positive
							color: #348b0e
						&--negative
							color: #ff5353
					&__btn
						float: right
						display: block
						box-sizing: border-box
						color: $white
						width: 160px
						height: 30px
						border-radius: 30px
						line-height: 32px
						font-size: 12px
						letter-spacing: 1px
						font-family: $arimo-B
						text-align: center
						margin-top: 2px
						margin-right: 10px
						text-transform: uppercase
				.review
					border-top: 1px solid #e1e1e1
					margin-top: -1px
					display: table
					width: 100%
					padding-bottom: 16px
					&__like
						width: 50px
						height: 50px
						line-height: 46px
						border-radius: 50px
						background-color: #bfe6ae
						float: left
						text-align: center
						margin-left: 30px
						margin-top: 20px
						margin-right: 20px
						svg
							display: inline-block
							vertical-align: middle
						&--dislike
							background-color: #ffc9c9
							line-height: 50px
							svg
								transform: scale(1, -1)
								#card-7
									fill: #ff5353
					.content
						float: left
						width: 580px
						&__title
							font-size: 13px
							color: $text-color-light
							line-height: 15px
							padding: 20px 0 11px 0
						&__descr
							font-size: 12px
							color: #4a4a4a
							line-height: 20px
						.qualification, .attention, .price
							float: left
							margin-left: 40px
							margin-top: 9px
							&__caption
								font-size: 11px
								line-height: 12px
								padding-bottom: 5px
							fieldset
								padding-left: 1px
								input + label
									&:before
										color: #c0c0c0 !important
							fieldset> input:checked ~ label:before
								color: #f6a623 !important
						.attention
							margin-left: 37px
						.price
							margin-left: 38px
						.qualification
							margin-left: 0
					&__more
						cursor: pointer
						text-transform: uppercase
						text-align: center
						color: #334fb4
						border-top: 1px solid #e1e1e1
						background: #fafbff
						padding: 10px 0
						font-size: 11px
						line-height: 12px
						&:before 
							content: ''
							display: inline-block
							vertical-align: middle
							margin-top: -1px
							margin-right: 5px
							width: 0
							height: 0
							border-style: solid
							border-width: 5px 5px 0
							border-color: grey transparent transparent
			.details
				background: $white
				border-radius: 5px
				box-sizing: border-box
				padding: 20px 0
				display: table
				width: 100%
				margin-bottom: 20px
				padding-bottom: 10px
				&__title
					font-size: 14px
					font-family: $arimo-B
					color: $text-color
					border-bottom: 1px solid #e1e1e1
					padding: 0px 20px 18px 20px
					margin-top: -1px
					margin-bottom: 10px
				&__caption
					font-size: 14px
					font-family: $arimo-B
					color: $text-color
					padding: 11px 20px 11px
				p
					padding-left: 20px
					padding-right: 20px
					line-height: 20px
					font-size: 12px
					padding-bottom: 10px
				ul
					padding-left: 20px
					padding-right: 20px
					line-height: 20px
					font-size: 12px
					li
						padding-left: 36px
						padding-bottom: 10px
						position: relative
						&:before
							content: ''
							position: absolute
							display: block
							height: 3px
							width: 3px
							border-radius: 50%
							background: #4a4a4a
							left: 12px
							top: 8px
			.more-doctors
				padding-bottom: 18px
				width: 100%
				max-width: 700px
				clear: both
				float: none
				&__title
					font-size: 14px
					line-height: 16px
					font-family: $arimo-B
					padding-bottom: 20px
				.doctor
					padding-bottom: 3px
					margin-bottom: 10px
					.info
						&__name
							color: #334fb4
						.reviews
							float: right
							margin-right: 28px
						.rating
							float: right
							margin-right: 0
			.sidebar
				box-sizing: border-box
				border-radius: 5px
				margin: 0
				margin-left: 2%
				padding-top: 10px
				width: 25%
				background: $white
				&__title
					font-size: 14px
					font-family: $arimo-B
					line-height: 16px
					padding-top: 11px
					padding-left: 10px
				.tabs
					padding-top: 9px
					margin-bottom: 0
					&__caption
						display: table
						box-sizing: border-box
						width: 100%
						border-bottom: 1px solid #e1e1e1
						padding-left: 10px
						li
							float: left
							cursor: pointer
							border: 1px solid #e1e1e1
							border-top-left-radius: 5px
							border-top-right-radius: 5px
							height: 30px
							width: 30px
							display: block
							line-height: 30px
							text-align: center
							margin-left: -1px
							margin-bottom: -1px
							&.active
								border-bottom: 1px solid $white
					.content
						padding-top: 10px
						box-sizing: border-box
						font-size: 12px
						line-height: 14px
						&>div
							&:last-child
								border-top: 1px solid #e1e1e1
								background: #fafbff
								padding-bottom: 10px
								border-bottom-left-radius: 5px
								border-bottom-right-radius: 5px
						.map
							margin-bottom: 13px
							position: relative
							margin-top: -1px
							padding: 0 10px
							&__link
								color: #334fb4
								border-bottom: 1px solid transparent
								&:hover
									border-bottom: 1px solid #334fb4
						&__metro
							position: relative
							font-size: 11px
							line-height: 12px
							width: 103%
							padding: 0 10px
							box-sizing: border-box
							a
								color: $text-color
								margin-right: 7px
								display: inline-block
								border-bottom: 1px solid transparent
								margin-bottom: 9px
								.color-span
									margin-right: 5px
								.metro__link-text
									&:hover
										border-bottom: 1px solid #334fb4
										color: #334fb4
						.content__map-block
							width: 100%
							height: 240px
							//margin-bottom: 10px
							height: 0
							overflow: hidden
							&>div
								height: 240px
								width: 100%
						.content__map-block--active
							height: 240px
							margin-bottom: 10px
						&__map-btn
							display: block
							margin: 0 auto
							box-sizing: border-box
							text-align: center
							color: #334fb4
							font-size: 11px
							width: 220px
							height: 30px
							line-height: 30px
							border: solid 1px #e1e1e1
							border-radius: 15px
							text-transform: uppercase
							margin-bottom: 10px
							cursor: pointer
						&__mobile-work-days
							display: none
						&__mobile-date-btn
							display: none
						.work-days
							width: 95%
							box-sizing: border-box
							padding-right: 0%
							padding-left: 4%
							
							padding-top: 9px
							height: 70px
							//width: 807px
							overflow: hidden
							position: relative
							&>div
								position: absolute
								//width: 1000px
							.day
								float: left
								width: 73px
								box-sizing: border-box
								padding-left: 2px
								&__caption
									font-size: 10px
									line-height: 11px
									color: $text-color-light
									padding-bottom: 10px
								&__date
									font-size: 12px
									line-height: 14px
									padding-bottom: 7px

								&__work-time
									font-size: 11px
									line-height: 14px
									color: #334fb4
									&:hover
										border-bottom: 1px solid #334fb4
								&--holiday
									.day__date
										color: #ff5353
									.day__work-time
										color: $text-color-light
										&:hover
											border-bottom: 1px solid transparent
						.glide
							&__arrows
								top: 7px
								display: table
								width: 100%
								height: 22px
								margin-left: 0
								right: -10px
							&__wrapper
								height: 60px
								li
									width: 219px !important
							&__arrow
								&.prev
									border: 1px solid #e1e1e1
									width: 19px
									height: 19px
									display: block
									position: absolute
									right: 27px
									left: auto
									top: 7px
									background: $white url(../images/arrow.svg) no-repeat
									background-position: 50%
									background-size: 100%
									z-index: 2
									transform: rotate(180deg)
									border-radius: 0px 5px 5px 0px
									padding: 0
									box-sizing: border-box
								&.next
									border: 1px solid #e1e1e1
									padding: 0
									width: 19px
									height: 19px
									display: block
									position: absolute
									right: 10px
									top: 7px
									background: $white url(../images/arrow.svg) no-repeat
									background-position: 50%
									background-size: 100%
									z-index: 2
									transform: rotate(360deg)
									border-radius: 5px
									border-top-left-radius: 0
									border-bottom-left-radius: 0
									box-sizing: border-box
.single-doctors__header
	.selectize-control
		height: 50px
	.selectize-input
		border-left: 1px solid #e1e1e1 !important
		border-right: 1px solid #e1e1e1 !important
		padding: 16px 29px 16px 48px
	.selectize-control.single .selectize-input:after
		right: 17px
		margin-top: -3px
	.dropdown-active
		border-left: 1px solid transparent !important
		border-right: 1px solid transparent !important